/****** Object:  StoredProcedure [dbo].[NuevoCITI_VC]    Script Date: 08/13/2015 18:14:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[NuevoCITI_VC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [NuevoCITI_VC]
GO
/****** Object:  StoredProcedure [dbo].[NuevoCITI_VA]    Script Date: 08/13/2015 18:14:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[NuevoCITI_VA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [NuevoCITI_VA]
GO
/****** Object:  StoredProcedure [dbo].[NuevoCITI_CI]    Script Date: 08/13/2015 18:14:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[NuevoCITI_CI]') AND type in (N'P', N'PC'))
DROP PROCEDURE [NuevoCITI_CI]
GO
/****** Object:  StoredProcedure [dbo].[NuevoCITI_CE]    Script Date: 08/13/2015 18:14:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[NuevoCITI_CE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [NuevoCITI_CE]
GO
/****** Object:  StoredProcedure [dbo].[NuevoCITI_CC]    Script Date: 08/13/2015 18:14:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[NuevoCITI_CC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [NuevoCITI_CC]
GO
/****** Object:  StoredProcedure [dbo].[NuevoCITI_CA]    Script Date: 08/13/2015 18:14:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[NuevoCITI_CA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [NuevoCITI_CA]
GO
/****** Object:  UserDefinedFunction [dbo].[fncESNUMERICO]    Script Date: 08/13/2015 18:14:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fncESNUMERICO]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [fncESNUMERICO]
GO

/****** Object:  UserDefinedFunction [dbo].[fncESNUMERICO]    Script Date: 08/13/2015 18:15:28 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/****** Object:  User Defined Function dbo.fncESNUMERICO    Script Date: 14/6/2015 12:35:09 PM ******/
CREATE FUNCTION [dbo].[fncESNUMERICO] (	@DATO								VARCHAR(30)			
)
RETURNS TINYINT
AS
BEGIN
	DECLARE @INDICE tinyint
	DECLARE @RESULTADO TINYINT 

	SELECT @RESULTADO = 1

	SELECT @INDICE = 1
	WHILE @INDICE <= LEN(RTRIM(@DATO))
	BEGIN
		IF SUBSTRING(RTRIM(@DATO), @INDICE, 1) NOT BETWEEN '0' AND '9'
		BEGIN
			SELECT @INDICE = LEN(RTRIM(@DATO)) + 1
			SELECT @RESULTADO = 0
		END
		ELSE
		BEGIN
			SELECT @INDICE = @INDICE + 1
		END
	END
	RETURN ( @RESULTADO )
END


GO

/****** Object:  StoredProcedure [dbo].[NuevoCITI_CA]    Script Date: 01/25/2016 23:34:31 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Stored Procedure dbo.NuevoCITI_CA    Script Date: 14/6/2015 12:34:37 PM ******/

CREATE PROCEDURE[dbo].[NuevoCITI_CA] @PERIODO CHAR(6), @REPORTE CHAR(15), @NOGRAVADO tinyint
AS

CREATE TABLE #TEMP
	(
		VCHRNMBR CHAR(21),
		DOCTYPE SMALLINT,
		VENDORID CHAR(15),
		DOCNUMBR CHAR(21),
		TRXDSCRN CHAR(31),
		PORDNMBR CHAR(21),
		DOCDATE datetime,
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		DESPACHO CHAR(16),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		NOMBRE	CHAR(30),
		TOTAL	NUMERIC(19, 5),
		GRAV NUMERIC(19, 5),
		NOGRAV	NUMERIC(19, 5),
		PERCNOCAT NUMERIC(19, 5),
		EXENTO	NUMERIC(19, 5),
		PERCIVA	NUMERIC(19, 5),
		PERCNAC	NUMERIC(19, 5),
		PERCIIBB	NUMERIC(19, 5),
		PERCMUN	NUMERIC(19, 5),
		IMPINT	NUMERIC(19, 5),
		MONEDA	CHAR(3),
		CAMBIO	NUMERIC(19, 7),
		ALICUOTAS	INT,
		CODOPER	CHAR(1),
		CREDFISC	NUMERIC(19, 5),
		OTROSTRIB NUMERIC(19, 5),
		ERRORES CHAR(500)
	)

CREATE TABLE #TEMP2
	(
		VCHRNMBR CHAR(21),
		DOCTYPE SMALLINT,
		VENDORID CHAR(15),
		GRAVADO21 NUMERIC(19, 5),
		IVA21 NUMERIC(19, 5),
		GRAVADO105 NUMERIC(19, 5),
		IVA105 NUMERIC(19, 5),
		GRAVADO27 NUMERIC(19, 5),
		IVA27	NUMERIC(19, 5)
	)

INSERT INTO #TEMP
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, ISNULL(AW.AWLI_DocNumber, TRX.DOCNUMBR) DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, '0' + ISNULL(AW.COD_COMP, '00') COMTYPE, CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT('00000' + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 5, 4)), '0000'), 5) ELSE '00000' END PDV,
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT(REPLICATE('0', 20) + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 10, 8)), '0000'), 20) ELSE REPLICATE('0', 20) END NROCOMP, 
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN REPLICATE(' ', 16) ELSE RTRIM(LEFT(TRX.DOCNUMBR, 16)) + REPLICATE(' ', 16 - LEN(RTRIM(LEFT(TRX.DOCNUMBR, 16)))) END NRODESPACHO,
RIGHT('00' + CASE WHEN RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) = '  ' THEN '80' ELSE RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) END, 2) CODCOC, 
RIGHT(REPLICATE('0', 20) + CASE WHEN LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) = '           ' THEN '00000000000' ELSE LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) END, 20) NROIDENT,
LEFT(RTRIM(MP.VENDNAME) + REPLICATE(' ', 30), 30) NOMBRE, TRX.DOCAMNT,
SUM(CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXPUR ELSE 0 END) GRAV,
SUM(CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXPUR ELSE 0 END) NOGRAV, 
SUM(CASE WHEN CI.ColumnaArchivo = 5 THEN A.TAXAMNT ELSE 0 END) PERCNOCAT, 
SUM(CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXPUR ELSE 0 END) EXENTO, 
SUM(CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END) PERCIVA,
SUM(CASE WHEN CI.ColumnaArchivo = 7 THEN A.TAXAMNT ELSE 0 END) PIMPNAC,
SUM(CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END) PIIBB,
SUM(CASE WHEN CI.ColumnaArchivo = 9 THEN A.TAXAMNT ELSE 0 END) PERCMUN, 
SUM(CASE WHEN CI.ColumnaArchivo = 10 THEN A.TAXAMNT ELSE 0 END) IMPINT, MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, 
SUM(CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END) CREDFISC, 
SUM(CASE WHEN CI.ColumnaArchivo = 11 THEN A.TAXAMNT ELSE 0 END) OTROSTRIB
, '' ERRORES

FROM PM10500 A
INNER JOIN PM20000 TRX ON A.VCHRNMBR = TRX.VCHRNMBR AND A.DOCTYPE = TRX.DOCTYPE
INNER JOIN AWLI_PM00400 AW ON A.VCHRNMBR = AW.VCHRNMBR AND A.DOCTYPE = AW.DOCTYPE AND A.VENDORID = AW.VENDORID
INNER JOIN PM00200 MP ON A.VENDORID = MP.VENDORID
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON TRX.CURNCYID = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
LEFT OUTER JOIN MC020103 MC1 ON A.VCHRNMBR = MC1.VCHRNMBR AND A.DOCTYPE = MC1.DOCTYPE AND A.VENDORID = MC1.VENDORID
WHERE TRX.VOIDED = 0 and left(CONVERT(char(8), TRX.PSTGDATE, 112), 6) = @PERIODO AND CI.TipoReporte = 1
GROUP BY A.VENDORID, TRX.DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, TRX.PSTGDATE, A.VCHRNMBR, A.DOCTYPE, TRX.DOCAMNT, AW.COD_COMP, AW.AWLI_DocNumber, MP.TXRGNNUM,
MP.VENDNAME, MC.CURR_CODE, AW.OP_ORIGIN, ISNULL(MC1.XCHGRATE, 1), ISNULL(AW.NRO_DESP, '') 

INSERT INTO #TEMP
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, ISNULL(AW.AWLI_DocNumber, TRX.DOCNUMBR) DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, '0' + ISNULL(AW.COD_COMP, '00') COMTYPE, CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT('00000' + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 5, 4)), '0000'), 5) ELSE '00000' END PDV,
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT(REPLICATE('0', 20) + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 10, 8)), '0000'), 20) ELSE REPLICATE('0', 20) END NROCOMP, 
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN REPLICATE(' ', 16) ELSE RTRIM(LEFT(TRX.DOCNUMBR, 16)) + REPLICATE(' ', 16 - LEN(RTRIM(LEFT(TRX.DOCNUMBR, 16)))) END NRODESPACHO,
RIGHT('00' + CASE WHEN RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) = '  ' THEN '80' ELSE RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) END, 2) CODCOC, 
RIGHT(REPLICATE('0', 20) + CASE WHEN LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) = '           ' THEN '00000000000' ELSE LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) END, 20) NROIDENT,
LEFT(RTRIM(MP.VENDNAME) + REPLICATE(' ', 30), 30) NOMBRE, TRX.DOCAMNT,
SUM(CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXPUR ELSE 0 END) GRAV,
SUM(CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXPUR ELSE 0 END) NOGRAV, 
SUM(CASE WHEN CI.ColumnaArchivo = 5 THEN A.TAXAMNT ELSE 0 END) PERCNOCAT, 
SUM(CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXPUR ELSE 0 END) EXENTO, 
SUM(CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END) PERCIVA,
SUM(CASE WHEN CI.ColumnaArchivo = 7 THEN A.TAXAMNT ELSE 0 END) PIMPNAC,
SUM(CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END) PIIBB,
SUM(CASE WHEN CI.ColumnaArchivo = 9 THEN A.TAXAMNT ELSE 0 END) PERCMUN, 
SUM(CASE WHEN CI.ColumnaArchivo = 10 THEN A.TAXAMNT ELSE 0 END) IMPINT, MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, 
SUM(CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END) CREDFISC, 
SUM(CASE WHEN CI.ColumnaArchivo = 11 THEN A.TAXAMNT ELSE 0 END) OTROSTRIB
, '' ERRORES

FROM PM30700 A
INNER JOIN PM30200 TRX ON A.VCHRNMBR = TRX.VCHRNMBR AND A.DOCTYPE = TRX.DOCTYPE
INNER JOIN AWLI_PM00400 AW ON A.VCHRNMBR = AW.VCHRNMBR AND A.DOCTYPE = AW.DOCTYPE AND A.VENDORID = AW.VENDORID
INNER JOIN PM00200 MP ON A.VENDORID = MP.VENDORID
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON TRX.CURNCYID = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
LEFT OUTER JOIN MC020103 MC1 ON A.VCHRNMBR = MC1.VCHRNMBR AND A.DOCTYPE = MC1.DOCTYPE AND A.VENDORID = MC1.VENDORID
WHERE (TRX.VOIDED = 0 OR (TRX.VOIDED = 1 AND LEFT(CONVERT(CHAR(8), TRX.PSTGDATE, 112), 6) <> LEFT(CONVERT(CHAR(8), TRX.VOIDPDATE, 112), 6))) and left(CONVERT(char(8), TRX.PSTGDATE, 112), 6) = @PERIODO
AND CI.TipoReporte = 1
GROUP BY A.VENDORID, TRX.DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, TRX.PSTGDATE, A.VCHRNMBR, A.DOCTYPE, TRX.DOCAMNT, AW.COD_COMP, AW.AWLI_DocNumber, MP.TXRGNNUM,
MP.VENDNAME, MC.CURR_CODE, AW.OP_ORIGIN, ISNULL(MC1.XCHGRATE, 1), ISNULL(AW.NRO_DESP, '') 

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (SELECT VCHRNMBR, DOCTYPE, VENDORID, COUNT(TXDTLPCT) ALICUOTAS FROM
(SELECT DISTINCT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, TX.TXDTLPCT FROM PM10500 A INNER JOIN
AWLI40102 B ON A.TAXDTLID = B.TAXDTLID INNER JOIN AWLI40004 C ON B.IDTAXOP = C.IDTAXOP
INNER JOIN tblColumnasIVA CI ON C.RPTID = CI.RPTID AND C.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 TX ON A.TAXDTLID = TX.TAXDTLID
WHERE C.RPTID IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 AND A.TAXAMNT > 0 
) PCT
GROUP BY VCHRNMBR, DOCTYPE, VENDORID ) TX ON A.VCHRNMBR = TX.VCHRNMBR AND A.DOCTYPE = TX.DOCTYPE AND A.VENDORID = TX.VENDORID

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (SELECT VCHRNMBR, DOCTYPE, VENDORID, COUNT(TXDTLPCT) ALICUOTAS FROM
(SELECT DISTINCT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, TX.TXDTLPCT FROM PM30700 A INNER JOIN
AWLI40102 B ON A.TAXDTLID = B.TAXDTLID INNER JOIN AWLI40004 C ON B.IDTAXOP = C.IDTAXOP
INNER JOIN tblColumnasIVA CI ON C.RPTID = CI.RPTID AND C.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 TX ON A.TAXDTLID = TX.TAXDTLID
WHERE C.RPTID IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 AND A.TAXAMNT > 0
) PCT
GROUP BY VCHRNMBR, DOCTYPE, VENDORID) TX ON A.VCHRNMBR = TX.VCHRNMBR AND A.DOCTYPE = TX.DOCTYPE AND A.VENDORID = TX.VENDORID

UPDATE #TEMP SET NROIDENT = CASE WHEN ISNULL(RTRIM(MP.CUIT_Pais), '') = '' THEN A.NROIDENT ELSE RIGHT(REPLICATE('0', 20) + RTRIM(SUBSTRING(MP.CUIT_Pais, 1, 11)), 20) END
FROM #TEMP A LEFT OUTER JOIN AWLI_PM00200 MP ON A.VENDORID = MP.VENDORID

UPDATE #TEMP SET CODDOC = RIGHT('80' + RTRIM(PORDNMBR), 2), NROIDENT = RIGHT(REPLICATE('0', 20) + RTRIM(LEFT(PORDNMBR, 11)), 20),
CODOPER = 1, NOMBRE = TRXDSCRN
FROM #TEMP A INNER JOIN PM00200 B ON A.VENDORID = B.VENDORID
WHERE B.VNDCLSID IN(SELECT VNDCLSID FROM TII_CHQ_SY40000)

UPDATE #TEMP SET GRAV = GRAVADO
FROM #TEMP T INNER JOIN 
(SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, SUM(ROUND(B.TAXAMNT/(TX.TXDTLPCT/100), 2)) GRAVADO
FROM #TEMP A INNER JOIN PM10500 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.CODOPER IN(1, 2, 3) AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID) TX ON T.VCHRNMBR = TX.VCHRNMBR AND T.DOCTYPE = TX.DOCTYPE AND T.VENDORID = TX.VENDORID
WHERE T.COMPTYPE IN('001', '002', '003', '051', '052', '053', '066')

UPDATE #TEMP SET GRAV = GRAVADO
FROM #TEMP T INNER JOIN 
(SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, SUM(ROUND(B.TAXAMNT/(TX.TXDTLPCT/100), 2)) GRAVADO
FROM #TEMP A INNER JOIN PM30700 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.CODOPER IN(1, 2, 3) AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID) TX ON T.VCHRNMBR = TX.VCHRNMBR AND T.DOCTYPE = TX.DOCTYPE AND T.VENDORID = TX.VENDORID
WHERE T.COMPTYPE IN('001', '002', '003', '051', '052', '053', '066')

UPDATE #TEMP SET TOTAL = GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB WHERE COMPTYPE IN('001', '002', '003', '051', '052', '053', '066')

IF @NOGRAVADO = 1
BEGIN
	UPDATE #TEMP SET NOGRAV = NOGRAV + TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB)
	WHERE TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) > 0
END

UPDATE #TEMP SET GRAV = GRAV + TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB)
WHERE TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) BETWEEN -0.20 AND -0.01
AND COMPTYPE IN('001', '002', '003', '051', '052', '053', '066') 
AND GRAV > ABS(TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB))

UPDATE #TEMP SET COMPTYPE = '003' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('001', '002')
UPDATE #TEMP SET COMPTYPE = '008' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('006', '007')
UPDATE #TEMP SET COMPTYPE = '013' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('011', '012')
UPDATE #TEMP SET COMPTYPE = '053' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('051', '052')
UPDATE #TEMP SET COMPTYPE = '001' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '003'
UPDATE #TEMP SET COMPTYPE = '006' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '008'
UPDATE #TEMP SET COMPTYPE = '011' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '013'
UPDATE #TEMP SET COMPTYPE = '051' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '053'

INSERT INTO #TEMP2
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, 
SUM(CASE WHEN TX.TXDTLPCT = 21.00000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO21,
 SUM(CASE WHEN TX.TXDTLPCT = 21.00000 THEN B.TAXAMNT ELSE 0 END) IVA21,
SUM(CASE WHEN TX.TXDTLPCT = 10.50000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO105,
 SUM(CASE WHEN TX.TXDTLPCT = 10.50000 THEN B.TAXAMNT ELSE 0 END) IVA105,
SUM(CASE WHEN TX.TXDTLPCT = 27.00000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO27,
 SUM(CASE WHEN TX.TXDTLPCT = 27.00000 THEN B.TAXAMNT ELSE 0 END) IVA27
FROM #TEMP A INNER JOIN PM10500 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE)	 AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID

INSERT INTO #TEMP2
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, 
SUM(CASE WHEN TX.TXDTLPCT = 21.00000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO21,
 SUM(CASE WHEN TX.TXDTLPCT = 21.00000 THEN B.TAXAMNT ELSE 0 END) IVA21,
SUM(CASE WHEN TX.TXDTLPCT = 10.50000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO105,
 SUM(CASE WHEN TX.TXDTLPCT = 10.50000 THEN B.TAXAMNT ELSE 0 END) IVA105,
SUM(CASE WHEN TX.TXDTLPCT = 27.00000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO27,
 SUM(CASE WHEN TX.TXDTLPCT = 27.00000 THEN B.TAXAMNT ELSE 0 END) IVA27
FROM #TEMP A INNER JOIN PM30700 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where a.rptid IN(@REPORTE)	 AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID

INSERT INTO #TEMP2
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID,
0 GRAVADO21, 0 IVA21, 0 GRAVADO105, 0 IVA105, 0 GRAVADO27, 0 IVA27
FROM #TEMP A INNER JOIN PM20000 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
LEFT OUTER JOIN #TEMP2 C ON A.VCHRNMBR = C.VCHRNMBR AND A.DOCTYPE = C.DOCTYPE AND A.VENDORID = C.VENDORID
WHERE A.ALICUOTAS = 0 AND C.VCHRNMBR IS NULL 
 
INSERT INTO #TEMP2
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID,
0 GRAVADO21, 0 IVA21, 0 GRAVADO105, 0 IVA105, 0 GRAVADO27, 0 IVA27
FROM #TEMP A INNER JOIN PM30200 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
LEFT OUTER JOIN #TEMP2 C ON A.VCHRNMBR = C.VCHRNMBR AND A.DOCTYPE = C.DOCTYPE AND A.VENDORID = C.VENDORID
WHERE A.ALICUOTAS = 0 AND C.VCHRNMBR IS NULL 

SELECT * INTO #TEMPTXT FROM
(SELECT 
RTRIM(B.COMPTYPE)						+		-- TIPO COMPROBANTE
RTRIM(B.PDV)							+		-- PUNTO DE VENTA
RTRIM(B.NROCOMP)						+		-- NUMERO DE COMPROBANTE
RTRIM(B.CODDOC)						+		-- CODIGO DOCUMENTO VENDEDOR
RIGHT('000000000' + RTRIM(B.NROIDENT), 20)						+		-- NRO IDENTIFICACION VENDEDOR
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, 
A.GRAVADO21), LEN(CONVERT(VARCHAR, A.GRAVADO21))-3), '.', ''), 15)   + -- GRAVADO21
'0005' + -- ALICUOTA
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, A.IVA21), LEN(CONVERT(VARCHAR, A.IVA21))-3), '.', ''), 15)   TEXTO -- IMPUESTO
FROM #TEMP2 A INNER JOIN #TEMP B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN
(SELECT COMPTYPE, PDV, NROCOMP, NROIDENT FROM #TEMP GROUP BY COMPTYPE, PDV, NROCOMP, NROIDENT HAVING COUNT(VCHRNMBR) = 1) C
ON B.COMPTYPE = C.COMPTYPE AND B.PDV = C.PDV AND B.NROCOMP = C.NROCOMP AND B.NROIDENT = C.NROIDENT
WHERE B.COMPTYPE NOT IN('000', '014', '063', '087')
AND ((B.TOTAL=(B.GRAV+B.NOGRAV+B.PERCNOCAT+B.EXENTO+B.PERCIVA+B.PERCNAC+B.PERCIIBB+B.PERCMUN+B.IMPINT+B.CREDFISC+B.OTROSTRIB) 
AND B.COMPTYPE NOT IN('006', '007', '008', '011', '012', '013')) OR B.COMPTYPE IN('006', '007', '008', '011', '012', '013'))
AND dbo.fncESNUMERICO(B.PDV) = 1 AND dbo.fncESNUMERICO(B.NROCOMP) = 1 AND dbo.fncESNUMERICO(B.NROIDENT) = 1
AND B.DOCDATE < DATEADD(m, 1, @PERIODO + '01') 
AND B.PDV BETWEEN '00001' AND '99999'
AND A.GRAVADO21 >= A.IVA21
AND NOT (B.CREDFISC <> 0 AND B.COMPTYPE NOT IN('001', '002', '003', '004') )
AND A.IVA21 <> 0
UNION
SELECT 
RTRIM(B.COMPTYPE)						+		-- TIPO COMPROBANTE
RTRIM(B.PDV)							+		-- PUNTO DE VENTA
RTRIM(B.NROCOMP)						+		-- NUMERO DE COMPROBANTE
RTRIM(B.CODDOC)						+		-- CODIGO DOCUMENTO VENDEDOR
RIGHT('000000000' + RTRIM(B.NROIDENT), 20)						+		-- NRO IDENTIFICACION VENDEDOR
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, A.GRAVADO105), LEN(CONVERT(VARCHAR, A.GRAVADO105))-3), '.', ''), 15)   + -- GRAVADO21
'0004' + -- ALICUOTA
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, A.IVA105), LEN(CONVERT(VARCHAR, A.IVA105))-3), '.', ''), 15)   TEXTO -- IMPUESTO
FROM #TEMP2 A INNER JOIN #TEMP B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN
(SELECT COMPTYPE, PDV, NROCOMP, NROIDENT FROM #TEMP GROUP BY COMPTYPE, PDV, NROCOMP, NROIDENT HAVING COUNT(VCHRNMBR) = 1) C
ON B.COMPTYPE = C.COMPTYPE AND B.PDV = C.PDV AND B.NROCOMP = C.NROCOMP AND B.NROIDENT = C.NROIDENT
WHERE B.COMPTYPE NOT IN('000', '014', '063', '087')
AND ((B.TOTAL=(B.GRAV+B.NOGRAV+B.PERCNOCAT+B.EXENTO+B.PERCIVA+B.PERCNAC+B.PERCIIBB+B.PERCMUN+B.IMPINT+B.CREDFISC+B.OTROSTRIB) 
AND B.COMPTYPE NOT IN('006', '007', '008', '011', '012', '013')) OR B.COMPTYPE IN('006', '007', '008', '011', '012', '013'))
AND dbo.fncESNUMERICO(B.PDV) = 1 AND dbo.fncESNUMERICO(B.NROCOMP) = 1 AND dbo.fncESNUMERICO(B.NROIDENT) = 1
AND B.DOCDATE < DATEADD(m, 1, @PERIODO + '01') 
AND B.PDV BETWEEN '00001' AND '99999'
AND A.GRAVADO105 >= A.IVA105
AND NOT (B.CREDFISC <> 0 AND B.COMPTYPE NOT IN('001', '002', '003', '004') )
AND A.IVA105 <> 0
UNION
SELECT 
RTRIM(B.COMPTYPE)						+		-- TIPO COMPROBANTE
RTRIM(B.PDV)							+		-- PUNTO DE VENTA
RTRIM(B.NROCOMP)						+		-- NUMERO DE COMPROBANTE
RTRIM(B.CODDOC)						+		-- CODIGO DOCUMENTO VENDEDOR
RIGHT('000000000' + RTRIM(B.NROIDENT), 20)						+		-- NRO IDENTIFICACION VENDEDOR
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, A.GRAVADO27), LEN(CONVERT(VARCHAR, A.GRAVADO27))-3), '.', ''), 15)   + -- GRAVADO21
'0006' + -- ALICUOTA
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, A.IVA27), LEN(CONVERT(VARCHAR, A.IVA27))-3), '.', ''), 15)   TEXTO -- IMPUESTO
FROM #TEMP2 A INNER JOIN #TEMP B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN
(SELECT COMPTYPE, PDV, NROCOMP, NROIDENT FROM #TEMP GROUP BY COMPTYPE, PDV, NROCOMP, NROIDENT HAVING COUNT(VCHRNMBR) = 1) C
ON B.COMPTYPE = C.COMPTYPE AND B.PDV = C.PDV AND B.NROCOMP = C.NROCOMP AND B.NROIDENT = C.NROIDENT
WHERE B.COMPTYPE NOT IN('000', '014', '063', '087')
AND ((B.TOTAL=(B.GRAV+B.NOGRAV+B.PERCNOCAT+B.EXENTO+B.PERCIVA+B.PERCNAC+B.PERCIIBB+B.PERCMUN+B.IMPINT+B.CREDFISC+B.OTROSTRIB) 
AND B.COMPTYPE NOT IN('006', '007', '008', '011', '012', '013')) OR B.COMPTYPE IN('006', '007', '008', '011', '012', '013'))
AND dbo.fncESNUMERICO(B.PDV) = 1 AND dbo.fncESNUMERICO(B.NROCOMP) = 1 AND dbo.fncESNUMERICO(B.NROIDENT) = 1
AND B.DOCDATE < DATEADD(m, 1, @PERIODO + '01') 
AND B.PDV BETWEEN '00001' AND '99999'
AND A.GRAVADO27 >= A.IVA27
AND NOT (B.CREDFISC <> 0 AND B.COMPTYPE NOT IN('001', '002', '003', '004') )
AND A.IVA27 <> 0
UNION ALL
SELECT 
RTRIM(B.COMPTYPE)						+		-- TIPO COMPROBANTE
RTRIM(B.PDV)							+		-- PUNTO DE VENTA
RTRIM(B.NROCOMP)						+		-- NUMERO DE COMPROBANTE
RTRIM(B.CODDOC)						+		-- CODIGO DOCUMENTO VENDEDOR
RIGHT('000000000' + RTRIM(B.NROIDENT), 20)						+		-- NRO IDENTIFICACION VENDEDOR
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, 0.00000), LEN(CONVERT(VARCHAR, 0.00000))-3), '.', ''), 15)   + -- GRAVADO21
'0003' + -- ALICUOTA
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, 0.00000), LEN(CONVERT(VARCHAR, 0.00000))-3), '.', ''), 15)   TEXTO -- IMPUESTO
FROM #TEMP2 A INNER JOIN #TEMP B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN
(SELECT COMPTYPE, PDV, NROCOMP, NROIDENT FROM #TEMP GROUP BY COMPTYPE, PDV, NROCOMP, NROIDENT HAVING COUNT(VCHRNMBR) = 1) C
ON B.COMPTYPE = C.COMPTYPE AND B.PDV = C.PDV AND B.NROCOMP = C.NROCOMP AND B.NROIDENT = C.NROIDENT
WHERE B.COMPTYPE NOT IN('000', '014', '063', '087')
AND ((B.TOTAL=(B.GRAV+B.NOGRAV+B.PERCNOCAT+B.EXENTO+B.PERCIVA+B.PERCNAC+B.PERCIIBB+B.PERCMUN+B.IMPINT+B.CREDFISC+B.OTROSTRIB) 
AND B.COMPTYPE NOT IN('006', '007', '008', '011', '012', '013')) OR B.COMPTYPE IN('006', '007', '008', '011', '012', '013'))
AND dbo.fncESNUMERICO(B.PDV) = 1 AND dbo.fncESNUMERICO(B.NROCOMP) = 1 AND dbo.fncESNUMERICO(B.NROIDENT) = 1
AND B.DOCDATE < DATEADD(m, 1, @PERIODO + '01') 
AND B.PDV BETWEEN '00001' AND '99999'
AND A.IVA21+A.IVA105+A.IVA27 = 0
AND NOT (B.CREDFISC <> 0 AND B.COMPTYPE NOT IN('001', '002', '003', '004') )
) TEXTOS

SELECT TEXTO FROM #TEMPTXT WHERE TEXTO IS NOT NULL ORDER BY TEXTO


GO

/****** Object:  StoredProcedure [dbo].[NuevoCITI_CC]    Script Date: 01/25/2016 23:34:31 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.NuevoCITI_CC    Script Date: 14/6/2015 12:34:37 PM ******/

CREATE PROCEDURE[dbo].[NuevoCITI_CC] @PERIODO CHAR(6), @REPORTE CHAR(15), @NOGRAVADO tinyint
AS

CREATE TABLE #TEMP
	(
		VCHRNMBR CHAR(21),
		DOCTYPE SMALLINT,
		VENDORID CHAR(15),
		DOCNUMBR CHAR(21),
		TRXDSCRN CHAR(31),
		PORDNMBR CHAR(21),
		DOCDATE datetime,
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		DESPACHO CHAR(16),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		NOMBRE	CHAR(30),
		TOTAL	NUMERIC(19, 5),
		GRAV NUMERIC(19, 5),
		NOGRAV	NUMERIC(19, 5),
		PERCNOCAT NUMERIC(19, 5),
		EXENTO	NUMERIC(19, 5),
		PERCIVA	NUMERIC(19, 5),
		PERCNAC	NUMERIC(19, 5),
		PERCIIBB	NUMERIC(19, 5),
		PERCMUN	NUMERIC(19, 5),
		IMPINT	NUMERIC(19, 5),
		MONEDA	CHAR(3),
		CAMBIO	NUMERIC(19, 7),
		ALICUOTAS	INT,
		CODOPER	CHAR(1),
		CREDFISC	NUMERIC(19, 5),
		OTROSTRIB NUMERIC(19, 5),
		ERRORES CHAR(500)
	)


INSERT INTO #TEMP
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, ISNULL(AW.AWLI_DocNumber, TRX.DOCNUMBR) DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, '0' + ISNULL(AW.COD_COMP, '00') COMTYPE, CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT('00000' + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 5, 4)), '0000'), 5) ELSE '00000' END PDV,
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT(REPLICATE('0', 20) + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 10, 8)), '0000'), 20) ELSE REPLICATE('0', 20) END NROCOMP, 
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN REPLICATE(' ', 16) ELSE RTRIM(LEFT(TRX.DOCNUMBR, 16)) + REPLICATE(' ', 16 - LEN(RTRIM(LEFT(TRX.DOCNUMBR, 16)))) END NRODESPACHO,
RIGHT('00' + CASE WHEN RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) = '  ' THEN '80' ELSE RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) END, 2) CODCOC, 
RIGHT(REPLICATE('0', 20) + CASE WHEN LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) = '           ' THEN '00000000000' ELSE LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) END, 20) NROIDENT,
LEFT(RTRIM(MP.VENDNAME) + REPLICATE(' ', 30), 30) NOMBRE, TRX.DOCAMNT,
SUM(CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXPUR ELSE 0 END) GRAV,
SUM(CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXPUR ELSE 0 END) NOGRAV, 
SUM(CASE WHEN CI.ColumnaArchivo = 5 THEN A.TAXAMNT ELSE 0 END) PERCNOCAT, 
SUM(CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXPUR ELSE 0 END) EXENTO, 
SUM(CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END) PERCIVA,
SUM(CASE WHEN CI.ColumnaArchivo = 7 THEN A.TAXAMNT ELSE 0 END) PIMPNAC,
SUM(CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END) PIIBB,
SUM(CASE WHEN CI.ColumnaArchivo = 9 THEN A.TAXAMNT ELSE 0 END) PERCMUN, 
SUM(CASE WHEN CI.ColumnaArchivo = 10 THEN A.TAXAMNT ELSE 0 END) IMPINT, MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, 
SUM(CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END) CREDFISC, 
SUM(CASE WHEN CI.ColumnaArchivo = 11 THEN A.TAXAMNT ELSE 0 END) OTROSTRIB
, '' ERRORES

FROM PM10500 A
INNER JOIN PM20000 TRX ON A.VCHRNMBR = TRX.VCHRNMBR AND A.DOCTYPE = TRX.DOCTYPE
INNER JOIN AWLI_PM00400 AW ON A.VCHRNMBR = AW.VCHRNMBR AND A.DOCTYPE = AW.DOCTYPE AND A.VENDORID = AW.VENDORID
INNER JOIN PM00200 MP ON A.VENDORID = MP.VENDORID
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON TRX.CURNCYID = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
LEFT OUTER JOIN MC020103 MC1 ON A.VCHRNMBR = MC1.VCHRNMBR AND A.DOCTYPE = MC1.DOCTYPE AND A.VENDORID = MC1.VENDORID
WHERE TRX.VOIDED = 0 and left(CONVERT(char(8), TRX.PSTGDATE, 112), 6) = @PERIODO AND CI.TipoReporte = 1
GROUP BY A.VENDORID, TRX.DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, TRX.PSTGDATE, A.VCHRNMBR, A.DOCTYPE, TRX.DOCAMNT, AW.COD_COMP, AW.AWLI_DocNumber, MP.TXRGNNUM,
MP.VENDNAME, MC.CURR_CODE, AW.OP_ORIGIN, ISNULL(MC1.XCHGRATE, 1), ISNULL(AW.NRO_DESP, '') 

INSERT INTO #TEMP
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, ISNULL(AW.AWLI_DocNumber, TRX.DOCNUMBR) DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, '0' + ISNULL(AW.COD_COMP, '00') COMTYPE, CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT('00000' + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 5, 4)), '0000'), 5) ELSE '00000' END PDV,
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT(REPLICATE('0', 20) + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 10, 8)), '0000'), 20) ELSE REPLICATE('0', 20) END NROCOMP, 
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN REPLICATE(' ', 16) ELSE RTRIM(LEFT(TRX.DOCNUMBR, 16)) + REPLICATE(' ', 16 - LEN(RTRIM(LEFT(TRX.DOCNUMBR, 16)))) END NRODESPACHO,
RIGHT('00' + CASE WHEN RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) = '  ' THEN '80' ELSE RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) END, 2) CODCOC, 
RIGHT(REPLICATE('0', 20) + CASE WHEN LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) = '           ' THEN '00000000000' ELSE LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) END, 20) NROIDENT,
LEFT(RTRIM(MP.VENDNAME) + REPLICATE(' ', 30), 30) NOMBRE, TRX.DOCAMNT,
SUM(CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXPUR ELSE 0 END) GRAV,
SUM(CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXPUR ELSE 0 END) NOGRAV, 
SUM(CASE WHEN CI.ColumnaArchivo = 5 THEN A.TAXAMNT ELSE 0 END) PERCNOCAT, 
SUM(CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXPUR ELSE 0 END) EXENTO, 
SUM(CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END) PERCIVA,
SUM(CASE WHEN CI.ColumnaArchivo = 7 THEN A.TAXAMNT ELSE 0 END) PIMPNAC,
SUM(CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END) PIIBB,
SUM(CASE WHEN CI.ColumnaArchivo = 9 THEN A.TAXAMNT ELSE 0 END) PERCMUN, 
SUM(CASE WHEN CI.ColumnaArchivo = 10 THEN A.TAXAMNT ELSE 0 END) IMPINT, MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, 
SUM(CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END) CREDFISC, 
SUM(CASE WHEN CI.ColumnaArchivo = 11 THEN A.TAXAMNT ELSE 0 END) OTROSTRIB
, '' ERRORES

FROM PM30700 A
INNER JOIN PM30200 TRX ON A.VCHRNMBR = TRX.VCHRNMBR AND A.DOCTYPE = TRX.DOCTYPE
INNER JOIN AWLI_PM00400 AW ON A.VCHRNMBR = AW.VCHRNMBR AND A.DOCTYPE = AW.DOCTYPE AND A.VENDORID = AW.VENDORID
INNER JOIN PM00200 MP ON A.VENDORID = MP.VENDORID
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON TRX.CURNCYID = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
LEFT OUTER JOIN MC020103 MC1 ON A.VCHRNMBR = MC1.VCHRNMBR AND A.DOCTYPE = MC1.DOCTYPE AND A.VENDORID = MC1.VENDORID
WHERE (TRX.VOIDED = 0 OR (TRX.VOIDED = 1 AND LEFT(CONVERT(CHAR(8), TRX.PSTGDATE, 112), 6) <> LEFT(CONVERT(CHAR(8), TRX.VOIDPDATE, 112), 6))) and left(CONVERT(char(8), TRX.PSTGDATE, 112), 6) = @PERIODO
AND CI.TipoReporte = 1
GROUP BY A.VENDORID, TRX.DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, TRX.PSTGDATE, A.VCHRNMBR, A.DOCTYPE, TRX.DOCAMNT, AW.COD_COMP, AW.AWLI_DocNumber, MP.TXRGNNUM,
MP.VENDNAME, MC.CURR_CODE, AW.OP_ORIGIN, ISNULL(MC1.XCHGRATE, 1), ISNULL(AW.NRO_DESP, '') 

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (SELECT VCHRNMBR, DOCTYPE, VENDORID, COUNT(TXDTLPCT) ALICUOTAS FROM
(SELECT DISTINCT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, TX.TXDTLPCT FROM PM10500 A INNER JOIN
AWLI40102 B ON A.TAXDTLID = B.TAXDTLID INNER JOIN AWLI40004 C ON B.IDTAXOP = C.IDTAXOP
INNER JOIN tblColumnasIVA CI ON C.RPTID = CI.RPTID AND C.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 TX ON A.TAXDTLID = TX.TAXDTLID
WHERE C.RPTID IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 AND A.TAXAMNT > 0 
) PCT
GROUP BY VCHRNMBR, DOCTYPE, VENDORID ) TX ON A.VCHRNMBR = TX.VCHRNMBR AND A.DOCTYPE = TX.DOCTYPE AND A.VENDORID = TX.VENDORID

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (SELECT VCHRNMBR, DOCTYPE, VENDORID, COUNT(TXDTLPCT) ALICUOTAS FROM
(SELECT DISTINCT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, TX.TXDTLPCT FROM PM30700 A INNER JOIN
AWLI40102 B ON A.TAXDTLID = B.TAXDTLID INNER JOIN AWLI40004 C ON B.IDTAXOP = C.IDTAXOP
INNER JOIN tblColumnasIVA CI ON C.RPTID = CI.RPTID AND C.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 TX ON A.TAXDTLID = TX.TAXDTLID
WHERE C.RPTID IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 AND A.TAXAMNT > 0
) PCT
GROUP BY VCHRNMBR, DOCTYPE, VENDORID) TX ON A.VCHRNMBR = TX.VCHRNMBR AND A.DOCTYPE = TX.DOCTYPE AND A.VENDORID = TX.VENDORID

UPDATE #TEMP SET NROIDENT = CASE WHEN ISNULL(RTRIM(MP.CUIT_Pais), '') = '' THEN A.NROIDENT ELSE RIGHT(REPLICATE('0', 20) + RTRIM(SUBSTRING(MP.CUIT_Pais, 1, 11)), 20) END
FROM #TEMP A LEFT OUTER JOIN AWLI_PM00200 MP ON A.VENDORID = MP.VENDORID

UPDATE #TEMP SET CODDOC = RIGHT('80' + RTRIM(PORDNMBR), 2), NROIDENT = RIGHT(REPLICATE('0', 20) + RTRIM(LEFT(PORDNMBR, 11)), 20),
CODOPER = 1, NOMBRE = TRXDSCRN
FROM #TEMP A INNER JOIN PM00200 B ON A.VENDORID = B.VENDORID
WHERE B.VNDCLSID IN(SELECT VNDCLSID FROM TII_CHQ_SY40000)

UPDATE #TEMP SET GRAV = GRAVADO
FROM #TEMP T INNER JOIN 
(SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, SUM(ROUND(B.TAXAMNT/(TX.TXDTLPCT/100), 2)) GRAVADO
FROM #TEMP A INNER JOIN PM10500 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.CODOPER IN(1, 2, 3) AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID) TX ON T.VCHRNMBR = TX.VCHRNMBR AND T.DOCTYPE = TX.DOCTYPE AND T.VENDORID = TX.VENDORID
WHERE T.COMPTYPE IN('001', '002', '003', '051', '052', '053', '066')

UPDATE #TEMP SET GRAV = GRAVADO
FROM #TEMP T INNER JOIN 
(SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, SUM(ROUND(B.TAXAMNT/(TX.TXDTLPCT/100), 2)) GRAVADO
FROM #TEMP A INNER JOIN PM30700 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.CODOPER IN(1, 2, 3) AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID) TX ON T.VCHRNMBR = TX.VCHRNMBR AND T.DOCTYPE = TX.DOCTYPE AND T.VENDORID = TX.VENDORID
WHERE T.COMPTYPE IN('001', '002', '003', '051', '052', '053', '066')

UPDATE #TEMP SET TOTAL = GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB WHERE COMPTYPE IN('001', '002', '003', '051', '052', '053', '066')

IF @NOGRAVADO = 1
BEGIN
	UPDATE #TEMP SET NOGRAV = NOGRAV + TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB)
	WHERE TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) > 0
END

UPDATE #TEMP SET GRAV = GRAV + TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB)
WHERE TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) BETWEEN -0.20 AND -0.01
AND COMPTYPE IN('001', '002', '003', '051', '052', '053', '066') 
AND GRAV > ABS(TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB))

UPDATE #TEMP SET COMPTYPE = '003' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('001', '002')
UPDATE #TEMP SET COMPTYPE = '008' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('006', '007')
UPDATE #TEMP SET COMPTYPE = '013' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('011', '012')
UPDATE #TEMP SET COMPTYPE = '053' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('051', '052')
UPDATE #TEMP SET COMPTYPE = '001' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '003'
UPDATE #TEMP SET COMPTYPE = '006' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '008'
UPDATE #TEMP SET COMPTYPE = '011' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '013'
UPDATE #TEMP SET COMPTYPE = '051' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '053'

SELECT 
CONVERT(CHAR(8), DOCDATE, 112)		+		-- FECHA AAAAMMDD
RTRIM(A.COMPTYPE)						+		-- TIPO COMPROBANTE
RTRIM(A.PDV)							+		-- PUNTO DE VENTA
RTRIM(A.NROCOMP)						+		-- NUMERO DE COMPROBANTE
DESPACHO	+	--	DESPACHO
RTRIM(CODDOC)						+		-- CODIGO DOCUMENTO VENDEDOR
RIGHT('000000000' + RTRIM(A.NROIDENT), 20)					+		-- NRO IDENTIFICACION VENDEDOR
LEFT(RTRIM(NOMBRE) + REPLICATE(' ', 30), 30)	+	-- NOMBRE
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, TOTAL), LEN(CONVERT(VARCHAR, TOTAL))-3), '.', ''), 15)   + -- TOTAL
CASE WHEN A.COMPTYPE BETWEEN '004' AND '051' THEN '000000000000000' ELSE
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, NOGRAV), LEN(CONVERT(VARCHAR, NOGRAV))-3), '.', ''), 15) END  + -- NOGRAV
CASE WHEN A.COMPTYPE BETWEEN '004' AND '051' THEN '000000000000000' ELSE
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, EXENTO), LEN(CONVERT(VARCHAR, EXENTO))-3), '.', ''), 15) END  + -- EXENTO
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, PERCIVA), LEN(CONVERT(VARCHAR, PERCIVA))-3), '.', ''), 15)   + -- PERCIVA
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, PERCNAC), LEN(CONVERT(VARCHAR, PERCNAC))-3), '.', ''), 15)   + -- PERCNAC
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, PERCIIBB), LEN(CONVERT(VARCHAR, PERCIIBB))-3), '.', ''), 15)   + -- PERCIIBB
'000000000000000'	+	-- PERCEPCION IMP MUNICIPALES
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, IMPINT), LEN(CONVERT(VARCHAR, IMPINT))-3), '.', ''), 15)   + -- IMPINT
RTRIM(MONEDA)		+	-- CODIGO DE MONEDA
RIGHT(REPLACE('0000000000' + LEFT(CONVERT(VARCHAR, CAMBIO), LEN(CONVERT(VARCHAR, CAMBIO))-1), '.', ''), 10)   + -- TIPO CAMBIO
CONVERT(VARCHAR, CASE WHEN CREDFISC = 0 THEN
	CASE WHEN A.COMPTYPE <= '003' THEN CASE WHEN ALICUOTAS = 0 THEN 1 ELSE ALICUOTAS END ELSE 0 END
	ELSE CASE WHEN ALICUOTAS = 0 THEN 1 ELSE ALICUOTAS END END	)	+		-- CANTIDAD ALICUOTAS IVA
CASE WHEN CODOPER = 1 THEN 
	CASE WHEN EXENTO <> 0 THEN 'E' ELSE CASE WHEN ALICUOTAS = 0 THEN 'N' ELSE '0' END END
ELSE 
	CASE CODOPER WHEN 2 THEN 'Z' WHEN 3 THEN 'X' ELSE '0' END	
END 		+		-- CODIGO OPERACION
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, CREDFISC), LEN(CONVERT(VARCHAR, CREDFISC))-3), '.', ''), 15)   + -- CREDITO FISCAL
'000000000000000'	+	-- OTROS TRIBUTOS
REPLICATE('0', 11)	+	-- CUIT CORREDOR
REPLICATE(' ', 30)	+	-- NOMBRE CORREDOR
REPLICATE('0', 15)	TEXTO	-- IVA COMISION

FROM #TEMP A INNER JOIN
(SELECT COMPTYPE, PDV, NROCOMP, NROIDENT FROM #TEMP GROUP BY COMPTYPE, PDV, NROCOMP, NROIDENT HAVING COUNT(VCHRNMBR) = 1) C
ON A.COMPTYPE = C.COMPTYPE AND A.PDV = C.PDV AND A.NROCOMP = C.NROCOMP AND A.NROIDENT = C.NROIDENT
WHERE CODOPER IN(1, 2, 3) 
AND A.COMPTYPE NOT IN('000', '014', '063', '087')
AND ((TOTAL=(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) 
AND A.COMPTYPE NOT IN('006', '007', '008', '011', '012', '013')) OR A.COMPTYPE IN('006', '007', '008', '011', '012', '013'))
AND dbo.fncESNUMERICO(A.PDV) = 1 AND dbo.fncESNUMERICO(A.NROCOMP) = 1 AND dbo.fncESNUMERICO(A.NROIDENT) = 1
AND DOCDATE < DATEADD(m, 1, @PERIODO + '01') 
AND A.PDV BETWEEN '00001' AND '99999'
AND A.GRAV >= A.CREDFISC 
AND NOT (A.CREDFISC <> 0 AND A.COMPTYPE NOT IN('001', '002', '003', '004') )
ORDER BY DOCDATE, A.PDV, A.COMPTYPE, A.NROCOMP


GO

/****** Object:  StoredProcedure [dbo].[NuevoCITI_CE]    Script Date: 01/25/2016 23:34:32 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.NuevoCITI_CE    Script Date: 14/6/2015 12:34:37 PM ******/
CREATE PROCEDURE[dbo].[NuevoCITI_CE] @PERIODO CHAR(6), @REPORTE CHAR(15), @NOGRAVADO tinyint
AS

CREATE TABLE #TEMP
	(
		VCHRNMBR CHAR(21),
		DOCTYPE SMALLINT,
		VENDORID CHAR(15),
		DOCNUMBR CHAR(21),
		TRXDSCRN CHAR(31),
		PORDNMBR CHAR(21),
		DOCDATE datetime,
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		DESPACHO CHAR(16),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		NOMBRE	CHAR(30),
		TOTAL	NUMERIC(19, 5),
		GRAV NUMERIC(19, 5),
		NOGRAV	NUMERIC(19, 5),
		PERCNOCAT NUMERIC(19, 5),
		EXENTO	NUMERIC(19, 5),
		PERCIVA	NUMERIC(19, 5),
		PERCNAC	NUMERIC(19, 5),
		PERCIIBB	NUMERIC(19, 5),
		PERCMUN	NUMERIC(19, 5),
		IMPINT	NUMERIC(19, 5),
		MONEDA	CHAR(3),
		CAMBIO	NUMERIC(19, 7),
		ALICUOTAS	INT,
		CODOPER	CHAR(1),
		CREDFISC	NUMERIC(19, 5),
		OTROSTRIB NUMERIC(19, 5),
		ERRORES CHAR(500)
	)


CREATE TABLE #TEMP2
	(
		VCHRNMBR CHAR(21),
		DOCTYPE SMALLINT,
		VENDORID CHAR(15),
		GRAVADO21 NUMERIC(19, 5),
		IVA21 NUMERIC(19, 5),
		GRAVADO105 NUMERIC(19, 5),
		IVA105 NUMERIC(19, 5),
		GRAVADO27 NUMERIC(19, 5),
		IVA27	NUMERIC(19, 5)
	)

INSERT INTO #TEMP
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, ISNULL(AW.AWLI_DocNumber, TRX.DOCNUMBR) DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, '0' + ISNULL(AW.COD_COMP, '00') COMTYPE, CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT('00000' + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 5, 4)), '0000'), 5) ELSE '00000' END PDV,
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT(REPLICATE('0', 20) + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 10, 8)), '0000'), 20) ELSE REPLICATE('0', 20) END NROCOMP, 
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN REPLICATE(' ', 16) ELSE RTRIM(LEFT(TRX.DOCNUMBR, 16)) + REPLICATE(' ', 16 - LEN(RTRIM(LEFT(TRX.DOCNUMBR, 16)))) END NRODESPACHO,
RIGHT('00' + CASE WHEN RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) = '  ' THEN '80' ELSE RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) END, 2) CODCOC, 
RIGHT(REPLICATE('0', 20) + CASE WHEN LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) = '           ' THEN '00000000000' ELSE LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) END, 20) NROIDENT,
LEFT(RTRIM(MP.VENDNAME) + REPLICATE(' ', 30), 30) NOMBRE, TRX.DOCAMNT,
SUM(CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXPUR ELSE 0 END) GRAV,
SUM(CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXPUR ELSE 0 END) NOGRAV, 
SUM(CASE WHEN CI.ColumnaArchivo = 5 THEN A.TAXAMNT ELSE 0 END) PERCNOCAT, 
SUM(CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXPUR ELSE 0 END) EXENTO, 
SUM(CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END) PERCIVA,
SUM(CASE WHEN CI.ColumnaArchivo = 7 THEN A.TAXAMNT ELSE 0 END) PIMPNAC,
SUM(CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END) PIIBB,
SUM(CASE WHEN CI.ColumnaArchivo = 9 THEN A.TAXAMNT ELSE 0 END) PERCMUN, 
SUM(CASE WHEN CI.ColumnaArchivo = 10 THEN A.TAXAMNT ELSE 0 END) IMPINT, MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, 
SUM(CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END) CREDFISC, 
SUM(CASE WHEN CI.ColumnaArchivo = 11 THEN A.TAXAMNT ELSE 0 END) OTROSTRIB
, '' ERRORES

FROM PM10500 A
INNER JOIN PM20000 TRX ON A.VCHRNMBR = TRX.VCHRNMBR AND A.DOCTYPE = TRX.DOCTYPE
INNER JOIN AWLI_PM00400 AW ON A.VCHRNMBR = AW.VCHRNMBR AND A.DOCTYPE = AW.DOCTYPE AND A.VENDORID = AW.VENDORID
INNER JOIN PM00200 MP ON A.VENDORID = MP.VENDORID
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON TRX.CURNCYID = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
LEFT OUTER JOIN MC020103 MC1 ON A.VCHRNMBR = MC1.VCHRNMBR AND A.DOCTYPE = MC1.DOCTYPE AND A.VENDORID = MC1.VENDORID
WHERE TRX.VOIDED = 0 and left(CONVERT(char(8), TRX.PSTGDATE, 112), 6) = @PERIODO AND CI.TipoReporte = 1
GROUP BY A.VENDORID, TRX.DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, TRX.PSTGDATE, A.VCHRNMBR, A.DOCTYPE, TRX.DOCAMNT, AW.COD_COMP, AW.AWLI_DocNumber, MP.TXRGNNUM,
MP.VENDNAME, MC.CURR_CODE, AW.OP_ORIGIN, ISNULL(MC1.XCHGRATE, 1), ISNULL(AW.NRO_DESP, '') 

INSERT INTO #TEMP
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, ISNULL(AW.AWLI_DocNumber, TRX.DOCNUMBR) DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, '0' + ISNULL(AW.COD_COMP, '00') COMTYPE, CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT('00000' + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 5, 4)), '0000'), 5) ELSE '00000' END PDV,
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT(REPLICATE('0', 20) + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 10, 8)), '0000'), 20) ELSE REPLICATE('0', 20) END NROCOMP, 
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN REPLICATE(' ', 16) ELSE RTRIM(LEFT(TRX.DOCNUMBR, 16)) + REPLICATE(' ', 16 - LEN(RTRIM(LEFT(TRX.DOCNUMBR, 16)))) END NRODESPACHO,
RIGHT('00' + CASE WHEN RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) = '  ' THEN '80' ELSE RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) END, 2) CODCOC, 
RIGHT(REPLICATE('0', 20) + CASE WHEN LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) = '           ' THEN '00000000000' ELSE LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) END, 20) NROIDENT,
LEFT(RTRIM(MP.VENDNAME) + REPLICATE(' ', 30), 30) NOMBRE, TRX.DOCAMNT,
SUM(CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXPUR ELSE 0 END) GRAV,
SUM(CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXPUR ELSE 0 END) NOGRAV, 
SUM(CASE WHEN CI.ColumnaArchivo = 5 THEN A.TAXAMNT ELSE 0 END) PERCNOCAT, 
SUM(CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXPUR ELSE 0 END) EXENTO, 
SUM(CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END) PERCIVA,
SUM(CASE WHEN CI.ColumnaArchivo = 7 THEN A.TAXAMNT ELSE 0 END) PIMPNAC,
SUM(CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END) PIIBB,
SUM(CASE WHEN CI.ColumnaArchivo = 9 THEN A.TAXAMNT ELSE 0 END) PERCMUN, 
SUM(CASE WHEN CI.ColumnaArchivo = 10 THEN A.TAXAMNT ELSE 0 END) IMPINT, MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, 
SUM(CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END) CREDFISC, 
SUM(CASE WHEN CI.ColumnaArchivo = 11 THEN A.TAXAMNT ELSE 0 END) OTROSTRIB
, '' ERRORES

FROM PM30700 A
INNER JOIN PM30200 TRX ON A.VCHRNMBR = TRX.VCHRNMBR AND A.DOCTYPE = TRX.DOCTYPE
INNER JOIN AWLI_PM00400 AW ON A.VCHRNMBR = AW.VCHRNMBR AND A.DOCTYPE = AW.DOCTYPE AND A.VENDORID = AW.VENDORID
INNER JOIN PM00200 MP ON A.VENDORID = MP.VENDORID
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON TRX.CURNCYID = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
LEFT OUTER JOIN MC020103 MC1 ON A.VCHRNMBR = MC1.VCHRNMBR AND A.DOCTYPE = MC1.DOCTYPE AND A.VENDORID = MC1.VENDORID
WHERE (TRX.VOIDED = 0 OR (TRX.VOIDED = 1 AND LEFT(CONVERT(CHAR(8), TRX.PSTGDATE, 112), 6) <> LEFT(CONVERT(CHAR(8), TRX.VOIDPDATE, 112), 6))) and left(CONVERT(char(8), TRX.PSTGDATE, 112), 6) = @PERIODO
AND CI.TipoReporte = 1
GROUP BY A.VENDORID, TRX.DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, TRX.PSTGDATE, A.VCHRNMBR, A.DOCTYPE, TRX.DOCAMNT, AW.COD_COMP, AW.AWLI_DocNumber, MP.TXRGNNUM,
MP.VENDNAME, MC.CURR_CODE, AW.OP_ORIGIN, ISNULL(MC1.XCHGRATE, 1), ISNULL(AW.NRO_DESP, '') 

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (SELECT VCHRNMBR, DOCTYPE, VENDORID, COUNT(TXDTLPCT) ALICUOTAS FROM
(SELECT DISTINCT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, TX.TXDTLPCT FROM PM10500 A INNER JOIN
AWLI40102 B ON A.TAXDTLID = B.TAXDTLID INNER JOIN AWLI40004 C ON B.IDTAXOP = C.IDTAXOP
INNER JOIN tblColumnasIVA CI ON C.RPTID = CI.RPTID AND C.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 TX ON A.TAXDTLID = TX.TAXDTLID
WHERE C.RPTID IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 AND A.TAXAMNT > 0 
) PCT
GROUP BY VCHRNMBR, DOCTYPE, VENDORID ) TX ON A.VCHRNMBR = TX.VCHRNMBR AND A.DOCTYPE = TX.DOCTYPE AND A.VENDORID = TX.VENDORID

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (SELECT VCHRNMBR, DOCTYPE, VENDORID, COUNT(TXDTLPCT) ALICUOTAS FROM
(SELECT DISTINCT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, TX.TXDTLPCT FROM PM30700 A INNER JOIN
AWLI40102 B ON A.TAXDTLID = B.TAXDTLID INNER JOIN AWLI40004 C ON B.IDTAXOP = C.IDTAXOP
INNER JOIN tblColumnasIVA CI ON C.RPTID = CI.RPTID AND C.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 TX ON A.TAXDTLID = TX.TAXDTLID
WHERE C.RPTID IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 AND A.TAXAMNT > 0
) PCT
GROUP BY VCHRNMBR, DOCTYPE, VENDORID) TX ON A.VCHRNMBR = TX.VCHRNMBR AND A.DOCTYPE = TX.DOCTYPE AND A.VENDORID = TX.VENDORID

UPDATE #TEMP SET NROIDENT = CASE WHEN ISNULL(RTRIM(MP.CUIT_Pais), '') = '' THEN A.NROIDENT ELSE RIGHT(REPLICATE('0', 20) + RTRIM(SUBSTRING(MP.CUIT_Pais, 1, 11)), 20) END
FROM #TEMP A LEFT OUTER JOIN AWLI_PM00200 MP ON A.VENDORID = MP.VENDORID

UPDATE #TEMP SET CODDOC = RIGHT('80' + RTRIM(PORDNMBR), 2), NROIDENT = RIGHT(REPLICATE('0', 20) + RTRIM(LEFT(PORDNMBR, 11)), 20),
CODOPER = 1, NOMBRE = TRXDSCRN
FROM #TEMP A INNER JOIN PM00200 B ON A.VENDORID = B.VENDORID
WHERE B.VNDCLSID IN(SELECT VNDCLSID FROM TII_CHQ_SY40000)

IF @NOGRAVADO = 1
BEGIN
	UPDATE #TEMP SET NOGRAV = NOGRAV + TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB)
	WHERE TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) > 0
END

UPDATE #TEMP SET COMPTYPE = '003' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('001', '002')
UPDATE #TEMP SET COMPTYPE = '008' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('006', '007')
UPDATE #TEMP SET COMPTYPE = '013' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('011', '012')
UPDATE #TEMP SET COMPTYPE = '053' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('051', '052')
UPDATE #TEMP SET COMPTYPE = '001' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '003'
UPDATE #TEMP SET COMPTYPE = '006' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '008'
UPDATE #TEMP SET COMPTYPE = '011' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '013'
UPDATE #TEMP SET COMPTYPE = '051' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '053'

INSERT INTO #TEMP2
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, 
SUM(CASE WHEN TX.TXDTLPCT = 21.00000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO21,
 SUM(CASE WHEN TX.TXDTLPCT = 21.00000 THEN B.TAXAMNT ELSE 0 END) IVA21,
SUM(CASE WHEN TX.TXDTLPCT = 10.50000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO105,
 SUM(CASE WHEN TX.TXDTLPCT = 10.50000 THEN B.TAXAMNT ELSE 0 END) IVA105,
SUM(CASE WHEN TX.TXDTLPCT = 27.00000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO27,
 SUM(CASE WHEN TX.TXDTLPCT = 27.00000 THEN B.TAXAMNT ELSE 0 END) IVA27
FROM #TEMP A INNER JOIN PM10500 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE)	 AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID

INSERT INTO #TEMP2
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, 
SUM(CASE WHEN TX.TXDTLPCT = 21.00000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO21,
 SUM(CASE WHEN TX.TXDTLPCT = 21.00000 THEN B.TAXAMNT ELSE 0 END) IVA21,
SUM(CASE WHEN TX.TXDTLPCT = 10.50000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO105,
 SUM(CASE WHEN TX.TXDTLPCT = 10.50000 THEN B.TAXAMNT ELSE 0 END) IVA105,
SUM(CASE WHEN TX.TXDTLPCT = 27.00000 THEN B.TDTTXPUR ELSE 0 END) GRAVADO27,
 SUM(CASE WHEN TX.TXDTLPCT = 27.00000 THEN B.TAXAMNT ELSE 0 END) IVA27
FROM #TEMP A INNER JOIN PM30700 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where a.rptid IN(@REPORTE)	 AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/EL CODIGO DE COMPROBANTE ES 000 o 014 o 063 087'
WHERE COMPTYPE IN('000', '014', '063', '087')

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/LA SUMA DE IMPORTES NO COINCIDE CON EL TOTAL'
WHERE TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) <> 0 AND COMPTYPE NOT IN('006', '007', '008', '011', '012', '013')

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/EL PUNTO DE VENTA DEBE SER NUMERICO'
WHERE dbo.fncESNUMERICO(PDV) = 0 AND COMPTYPE <> '066'

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/EL PUNTO DE VENTA NO PUEDE SER MENOR A 00001'
WHERE dbo.fncESNUMERICO(PDV) = 1 AND PDV < '00001' AND COMPTYPE <> '066'

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/EL NUMERO DE COMPROBANTE DEBE SER NUMERICO'
WHERE dbo.fncESNUMERICO(NROCOMP) = 0 AND COMPTYPE <> '066'

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/EL NUMERO DE DOCUMENTO DE VENDEDOR DEBE SER NUMERICO'
WHERE dbo.fncESNUMERICO(NROIDENT) = 0

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/EL NUMERO DE DESPACHO NO PUEDE CONTENER ESPACIOS'
WHERE RTRIM(DESPACHO) <> '' AND LEN(REPLACE(DESPACHO, ' ', '')) <> 16 AND COMPTYPE = '066'

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/LA FECHA DEL COMPROBANTE NO PUEDE SER MAYOR AL PERIODO INFORMADO'
WHERE DOCDATE >= DATEADD(m, 1, @PERIODO + '01') 

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/TIPO Y NUMERO COMPROBANTE DUPLICADO PARA EL NUMERO DE DOCUMENTO'
FROM #TEMP A INNER JOIN
(SELECT COMPTYPE, PDV, NROCOMP, NROIDENT, DESPACHO  FROM #TEMP GROUP BY COMPTYPE, PDV, NROCOMP, NROIDENT, DESPACHO  HAVING COUNT(VCHRNMBR) > 1) B
ON A.COMPTYPE = B.COMPTYPE AND A.PDV = B.PDV AND A.NROCOMP = B.NROCOMP AND A.NROIDENT = B.NROIDENT AND A.DESPACHO = B.DESPACHO

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/LA FECHA DEL COMPROBANTE NO PUEDE SER MAYOR AL PERIODO INFORMADO'
WHERE DOCDATE >= DATEADD(m, 1, @PERIODO + '01') 

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/EL IMPORTE GRAVADO DEBE SER MAYOR O IGUAL AL IMPUESTO LIQUIDADO'
WHERE GRAV < CREDFISC

UPDATE #TEMP SET ERRORES = RTRIM(ERRORES) + '/EL COMPROBANTE ' + COMPTYPE + ' NO PUEDE GENERAR CREDITO FISCAL'
WHERE CREDFISC <> 0 AND COMPTYPE NOT IN('001', '002', '003', '004')

SELECT 
		A.VCHRNMBR,
		A.DOCTYPE,
		A.VENDORID,
		DOCNUMBR, 
		DOCDATE,
		COMPTYPE,
		PDV,
		NROCOMP,
		DESPACHO,
		CODDOC,
		NROIDENT,
		NOMBRE,
		TOTAL,
		GRAVADO21,
		IVA21,
		GRAVADO105,
		IVA105,
		GRAVADO27,
		IVA27,
		NOGRAV,
		PERCNOCAT,
		EXENTO,
		PERCIVA,
		PERCNAC,
		PERCIIBB,
		PERCMUN,
		IMPINT,
		OTROSTRIB,
		TOTAL-(GRAVADO21+GRAVADO105+GRAVADO27+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) DIFERENCIA,
		MONEDA,
		CAMBIO,
		ALICUOTAS,
		CODOPER,
		RTRIM(ERRORES) ERRORES
FROM #TEMP A LEFT OUTER JOIN #TEMP2 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
WHERE A.CODOPER IN(1, 2, 3)
AND A.DOCTYPE < 4 AND RTRIM(ERRORES)<>''
UNION
SELECT 
		A.VCHRNMBR,
		A.DOCTYPE,
		A.VENDORID,
		DOCNUMBR, 
		DOCDATE,
		COMPTYPE,
		PDV,
		NROCOMP,
		DESPACHO,
		CODDOC,
		NROIDENT,
		NOMBRE,
		-TOTAL TOTAL,
		-GRAVADO21,
		-IVA21 IVA21,
		-GRAVADO105,
		-IVA105 IVA105,
		-GRAVADO27,
		-IVA27 IVA27,
		-NOGRAV NOGRAV,
		-PERCNOCAT PERCNOCAT,
		-EXENTO EXENTO,
		-PERCIVA PERCIVA,
		-PERCNAC PERCNAC,
		-PERCIIBB PERCIIBB,
		-PERCMUN PERCMUN,
		-IMPINT IMPINT,
		-OTROSTRIB OTROSTRIB,
		(TOTAL-(GRAVADO21+GRAVADO105+GRAVADO27+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB)) DIFERENCIA,
		MONEDA,
		CAMBIO,
		ALICUOTAS,
		CODOPER,
		RTRIM(ERRORES) ERRORES
FROM #TEMP A LEFT OUTER JOIN #TEMP2 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID 
WHERE A.CODOPER IN(1, 2, 3)
AND A.DOCTYPE >= 4 AND RTRIM(ERRORES)<>''
ORDER BY DOCDATE, PDV, COMPTYPE, NROCOMP


GO

/****** Object:  StoredProcedure [dbo].[NuevoCITI_CI]    Script Date: 01/25/2016 23:34:32 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.NuevoCITI_CI    Script Date: 14/6/2015 12:34:37 PM ******/
CREATE PROCEDURE[dbo].[NuevoCITI_CI] @PERIODO CHAR(6), @REPORTE CHAR(15), @NOGRAVADO tinyint
AS

CREATE TABLE #TEMP
	(
		VCHRNMBR CHAR(21),
		DOCTYPE SMALLINT,
		VENDORID CHAR(15),
		DOCNUMBR CHAR(21),
		TRXDSCRN CHAR(31),
		PORDNMBR CHAR(21),
		DOCDATE datetime,
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		DESPACHO CHAR(16),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		NOMBRE	CHAR(30),
		TOTAL	NUMERIC(19, 5),
		GRAV	NUMERIC(19, 5),
		NOGRAV	NUMERIC(19, 5),
		PERCNOCAT NUMERIC(19, 5),
		EXENTO	NUMERIC(19, 5),
		PERCIVA	NUMERIC(19, 5),
		PERCNAC	NUMERIC(19, 5),
		PERCIIBB	NUMERIC(19, 5),
		PERCMUN	NUMERIC(19, 5),
		IMPINT	NUMERIC(19, 5),
		MONEDA	CHAR(3),
		CAMBIO	NUMERIC(19, 7),
		ALICUOTAS	INT,
		CODOPER	CHAR(1),
		CREDFISC	NUMERIC(19, 5),
		OTROSTRIB NUMERIC(19, 5),
		ERRORES CHAR(500)
	)

CREATE TABLE #TEMP2
	(
		VCHRNMBR CHAR(21),
		DOCTYPE SMALLINT,
		VENDORID CHAR(15),
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		DESPACHO CHAR(16),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		GRAVADO	NUMERIC(19, 5),
		ALICUOTA	NUMERIC(19, 5),
		IMPUESTO NUMERIC(19, 5)
	)

INSERT INTO #TEMP
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, ISNULL(AW.AWLI_DocNumber, TRX.DOCNUMBR) DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, '0' + ISNULL(AW.COD_COMP, '00') COMTYPE, CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT('00000' + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 5, 4)), '0000'), 5) ELSE '00000' END PDV,
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT(REPLICATE('0', 20) + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 10, 8)), '0000'), 20) ELSE REPLICATE('0', 20) END NROCOMP, 
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN REPLICATE(' ', 16) ELSE RTRIM(LEFT(TRX.DOCNUMBR, 16)) + REPLICATE(' ', 16 - LEN(RTRIM(LEFT(TRX.DOCNUMBR, 16)))) END NRODESPACHO,
RIGHT('00' + CASE WHEN RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) = '  ' THEN '80' ELSE RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) END, 2) CODCOC, 
RIGHT(REPLICATE('0', 20) + CASE WHEN LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) = '           ' THEN '00000000000' ELSE LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) END, 20) NROIDENT,
LEFT(RTRIM(MP.VENDNAME) + REPLICATE(' ', 30), 30) NOMBRE, TRX.DOCAMNT,
SUM(CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXPUR ELSE 0 END) GRAV,
SUM(CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXPUR ELSE 0 END) NOGRAV, 
SUM(CASE WHEN CI.ColumnaArchivo = 5 THEN A.TAXAMNT ELSE 0 END) PERCNOCAT, 
SUM(CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXPUR ELSE 0 END) EXENTO, 
SUM(CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END) PERCIVA,
SUM(CASE WHEN CI.ColumnaArchivo = 7 THEN A.TAXAMNT ELSE 0 END) PIMPNAC,
SUM(CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END) PIIBB,
SUM(CASE WHEN CI.ColumnaArchivo = 9 THEN A.TAXAMNT ELSE 0 END) PERCMUN, 
SUM(CASE WHEN CI.ColumnaArchivo = 10 THEN A.TAXAMNT ELSE 0 END) IMPINT, MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, 
SUM(CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END) CREDFISC, 
SUM(CASE WHEN CI.ColumnaArchivo = 11 THEN A.TAXAMNT ELSE 0 END) OTROSTRIB
, '' ERRORES

FROM PM10500 A
INNER JOIN PM20000 TRX ON A.VCHRNMBR = TRX.VCHRNMBR AND A.DOCTYPE = TRX.DOCTYPE
INNER JOIN AWLI_PM00400 AW ON A.VCHRNMBR = AW.VCHRNMBR AND A.DOCTYPE = AW.DOCTYPE AND A.VENDORID = AW.VENDORID
INNER JOIN PM00200 MP ON A.VENDORID = MP.VENDORID
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON TRX.CURNCYID = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
LEFT OUTER JOIN MC020103 MC1 ON A.VCHRNMBR = MC1.VCHRNMBR AND A.DOCTYPE = MC1.DOCTYPE AND A.VENDORID = MC1.VENDORID
WHERE TRX.VOIDED = 0 and left(CONVERT(char(8), TRX.PSTGDATE, 112), 6) = @PERIODO AND CI.TipoReporte = 1
GROUP BY A.VENDORID, TRX.DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, TRX.PSTGDATE, A.VCHRNMBR, A.DOCTYPE, TRX.DOCAMNT, AW.COD_COMP, AW.AWLI_DocNumber, MP.TXRGNNUM,
MP.VENDNAME, MC.CURR_CODE, AW.OP_ORIGIN, ISNULL(MC1.XCHGRATE, 1), ISNULL(AW.NRO_DESP, '') 

INSERT INTO #TEMP
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, ISNULL(AW.AWLI_DocNumber, TRX.DOCNUMBR) DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, '0' + ISNULL(AW.COD_COMP, '00') COMTYPE, CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT('00000' + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 5, 4)), '0000'), 5) ELSE '00000' END PDV,
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN RIGHT(REPLICATE('0', 20) + ISNULL(RTRIM(SUBSTRING(AW.AWLI_DocNumber, 10, 8)), '0000'), 20) ELSE REPLICATE('0', 20) END NROCOMP, 
CASE WHEN ISNULL(AW.COD_COMP, '00') <> '66' THEN REPLICATE(' ', 16) ELSE RTRIM(LEFT(TRX.DOCNUMBR, 16)) + REPLICATE(' ', 16 - LEN(RTRIM(LEFT(TRX.DOCNUMBR, 16)))) END NRODESPACHO,
RIGHT('00' + CASE WHEN RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) = '  ' THEN '80' ELSE RIGHT(ISNULL(MP.TXRGNNUM, '00'), 2) END, 2) CODCOC, 
RIGHT(REPLICATE('0', 20) + CASE WHEN LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) = '           ' THEN '00000000000' ELSE LEFT(ISNULL(MP.TXRGNNUM, '00000000000'), 11) END, 20) NROIDENT,
LEFT(RTRIM(MP.VENDNAME) + REPLICATE(' ', 30), 30) NOMBRE, TRX.DOCAMNT,
SUM(CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXPUR ELSE 0 END) GRAV,
SUM(CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXPUR ELSE 0 END) NOGRAV, 
SUM(CASE WHEN CI.ColumnaArchivo = 5 THEN A.TAXAMNT ELSE 0 END) PERCNOCAT, 
SUM(CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXPUR ELSE 0 END) EXENTO, 
SUM(CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END) PERCIVA,
SUM(CASE WHEN CI.ColumnaArchivo = 7 THEN A.TAXAMNT ELSE 0 END) PIMPNAC,
SUM(CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END) PIIBB,
SUM(CASE WHEN CI.ColumnaArchivo = 9 THEN A.TAXAMNT ELSE 0 END) PERCMUN, 
SUM(CASE WHEN CI.ColumnaArchivo = 10 THEN A.TAXAMNT ELSE 0 END) IMPINT, MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, 
SUM(CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END) CREDFISC, 
SUM(CASE WHEN CI.ColumnaArchivo = 11 THEN A.TAXAMNT ELSE 0 END) OTROSTRIB
, '' ERRORES

FROM PM30700 A
INNER JOIN PM30200 TRX ON A.VCHRNMBR = TRX.VCHRNMBR AND A.DOCTYPE = TRX.DOCTYPE
INNER JOIN AWLI_PM00400 AW ON A.VCHRNMBR = AW.VCHRNMBR AND A.DOCTYPE = AW.DOCTYPE AND A.VENDORID = AW.VENDORID
INNER JOIN PM00200 MP ON A.VENDORID = MP.VENDORID
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON TRX.CURNCYID = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
LEFT OUTER JOIN MC020103 MC1 ON A.VCHRNMBR = MC1.VCHRNMBR AND A.DOCTYPE = MC1.DOCTYPE AND A.VENDORID = MC1.VENDORID
WHERE (TRX.VOIDED = 0 OR (TRX.VOIDED = 1 AND LEFT(CONVERT(CHAR(8), TRX.PSTGDATE, 112), 6) <> LEFT(CONVERT(CHAR(8), TRX.VOIDPDATE, 112), 6))) and left(CONVERT(char(8), TRX.PSTGDATE, 112), 6) = @PERIODO
AND CI.TipoReporte = 1
GROUP BY A.VENDORID, TRX.DOCNUMBR, TRX.TRXDSCRN, TRX.PORDNMBR, TRX.DOCDATE, TRX.PSTGDATE, A.VCHRNMBR, A.DOCTYPE, TRX.DOCAMNT, AW.COD_COMP, AW.AWLI_DocNumber, MP.TXRGNNUM,
MP.VENDNAME, MC.CURR_CODE, AW.OP_ORIGIN, ISNULL(MC1.XCHGRATE, 1), ISNULL(AW.NRO_DESP, '') 

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (SELECT VCHRNMBR, DOCTYPE, VENDORID, COUNT(TXDTLPCT) ALICUOTAS FROM
(SELECT DISTINCT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, TX.TXDTLPCT FROM PM10500 A INNER JOIN
AWLI40102 B ON A.TAXDTLID = B.TAXDTLID INNER JOIN AWLI40004 C ON B.IDTAXOP = C.IDTAXOP
INNER JOIN tblColumnasIVA CI ON C.RPTID = CI.RPTID AND C.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 TX ON A.TAXDTLID = TX.TAXDTLID
WHERE C.RPTID IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 AND A.TAXAMNT > 0 
) PCT
GROUP BY VCHRNMBR, DOCTYPE, VENDORID ) TX ON A.VCHRNMBR = TX.VCHRNMBR AND A.DOCTYPE = TX.DOCTYPE AND A.VENDORID = TX.VENDORID

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (SELECT VCHRNMBR, DOCTYPE, VENDORID, COUNT(TXDTLPCT) ALICUOTAS FROM
(SELECT DISTINCT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, TX.TXDTLPCT FROM PM30700 A INNER JOIN
AWLI40102 B ON A.TAXDTLID = B.TAXDTLID INNER JOIN AWLI40004 C ON B.IDTAXOP = C.IDTAXOP
INNER JOIN tblColumnasIVA CI ON C.RPTID = CI.RPTID AND C.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 TX ON A.TAXDTLID = TX.TAXDTLID
WHERE C.RPTID IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 AND A.TAXAMNT > 0
) PCT
GROUP BY VCHRNMBR, DOCTYPE, VENDORID) TX ON A.VCHRNMBR = TX.VCHRNMBR AND A.DOCTYPE = TX.DOCTYPE AND A.VENDORID = TX.VENDORID

UPDATE #TEMP SET NROIDENT = CASE WHEN ISNULL(RTRIM(MP.CUIT_Pais), '') = '' THEN A.NROIDENT ELSE RIGHT(REPLICATE('0', 20) + RTRIM(SUBSTRING(MP.CUIT_Pais, 1, 11)), 20) END
FROM #TEMP A LEFT OUTER JOIN AWLI_PM00200 MP ON A.VENDORID = MP.VENDORID

UPDATE #TEMP SET CODDOC = RIGHT('80' + RTRIM(PORDNMBR), 2), NROIDENT = RIGHT(REPLICATE('0', 20) + RTRIM(LEFT(PORDNMBR, 11)), 20),
CODOPER = 1, NOMBRE = TRXDSCRN
FROM #TEMP A INNER JOIN PM00200 B ON A.VENDORID = B.VENDORID
WHERE B.VNDCLSID IN(SELECT VNDCLSID FROM TII_CHQ_SY40000)

UPDATE #TEMP SET GRAV = GRAVADO
FROM #TEMP T INNER JOIN 
(SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, SUM(ROUND(B.TAXAMNT/(TX.TXDTLPCT/100), 2)) GRAVADO
FROM #TEMP A INNER JOIN PM10500 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.CODOPER IN(1, 2, 3) AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID) TX ON T.VCHRNMBR = TX.VCHRNMBR AND T.DOCTYPE = TX.DOCTYPE AND T.VENDORID = TX.VENDORID
WHERE T.COMPTYPE IN('001', '002', '003', '051', '052', '053', '066')

UPDATE #TEMP SET GRAV = GRAVADO
FROM #TEMP T INNER JOIN 
(SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, SUM(ROUND(B.TAXAMNT/(TX.TXDTLPCT/100), 2)) GRAVADO
FROM #TEMP A INNER JOIN PM30700 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.CODOPER IN(1, 2, 3) AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID) TX ON T.VCHRNMBR = TX.VCHRNMBR AND T.DOCTYPE = TX.DOCTYPE AND T.VENDORID = TX.VENDORID
WHERE T.COMPTYPE IN('001', '002', '003', '051', '052', '053', '066')

UPDATE #TEMP SET TOTAL = GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB WHERE COMPTYPE IN('001', '002', '003', '051', '052', '053', '066')

IF @NOGRAVADO = 1
BEGIN
	UPDATE #TEMP SET NOGRAV = NOGRAV + TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB)
	WHERE TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) > 0
END

UPDATE #TEMP SET GRAV = GRAV + TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB)
WHERE TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB) BETWEEN -0.20 AND -0.01
AND COMPTYPE IN('001', '002', '003', '051', '052', '053', '066') 
AND GRAV > ABS(TOTAL-(GRAV+NOGRAV+PERCNOCAT+EXENTO+PERCIVA+PERCNAC+PERCIIBB+PERCMUN+IMPINT+CREDFISC+OTROSTRIB))

UPDATE #TEMP SET COMPTYPE = '003' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('001', '002')
UPDATE #TEMP SET COMPTYPE = '008' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('006', '007')
UPDATE #TEMP SET COMPTYPE = '013' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('011', '012')
UPDATE #TEMP SET COMPTYPE = '053' WHERE DOCTYPE IN(4, 5) AND COMPTYPE IN('051', '052')
UPDATE #TEMP SET COMPTYPE = '001' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '003'
UPDATE #TEMP SET COMPTYPE = '006' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '008'
UPDATE #TEMP SET COMPTYPE = '011' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '013'
UPDATE #TEMP SET COMPTYPE = '051' WHERE DOCTYPE NOT IN(4, 5) AND COMPTYPE = '053'

INSERT INTO #TEMP2
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, A.COMPTYPE, A.PDV, A.NROCOMP, A.DESPACHO, A.CODDOC, A.NROIDENT,
SUM(B.TDTTXPUR) GRAVADO, TX.TXDTLPCT, SUM(B.TAXAMNT) IMPUESTO
FROM #TEMP A INNER JOIN PM10500 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE)	 AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.CODOPER IN(1, 2, 3) AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID, A.COMPTYPE, A.PDV, A.NROCOMP, A.DESPACHO, A.CODDOC, A.NROIDENT, TX.TXDTLPCT

INSERT INTO #TEMP2
SELECT A.VCHRNMBR, A.DOCTYPE, A.VENDORID, A.COMPTYPE, A.PDV, A.NROCOMP, A.DESPACHO, A.CODDOC, A.NROIDENT,
SUM(B.TDTTXPUR) GRAVADO, TX.TXDTLPCT, SUM(B.TAXAMNT) IMPUESTO
FROM #TEMP A INNER JOIN PM30700 B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE)	 AND CI.TipoReporte = 1 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.CODOPER IN(1, 2, 3) AND B.TAXAMNT > 0 AND A.ALICUOTAS <> 0
GROUP BY A.VCHRNMBR, A.DOCTYPE, A.VENDORID, A.COMPTYPE, A.PDV, A.NROCOMP, A.DESPACHO, A.CODDOC, A.NROIDENT, TX.TXDTLPCT

SELECT 
A.DESPACHO							+		-- DESPACHO
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, GRAVADO), LEN(CONVERT(VARCHAR, GRAVADO))-3), '.', ''), 15)   + -- GRAVADO
CASE ALICUOTA WHEN 10.5 THEN '0004' WHEN 21 THEN '0005' WHEN 27 THEN '0006' WHEN 5 THEN '0008' wHEN 2.5 THEN '0009' ELSE '0003' END		+ -- ALICUOTA
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, IMPUESTO), LEN(CONVERT(VARCHAR, IMPUESTO))-3), '.', ''), 15)   TEXTO -- IMPUESTO
FROM #TEMP2 A INNER JOIN #TEMP B ON A.VCHRNMBR = B.VCHRNMBR AND A.DOCTYPE = B.DOCTYPE AND A.VENDORID = B.VENDORID
INNER JOIN
(SELECT COMPTYPE, PDV, NROCOMP, NROIDENT FROM #TEMP GROUP BY COMPTYPE, PDV, NROCOMP, NROIDENT HAVING COUNT(VCHRNMBR) = 1) C
ON A.COMPTYPE = C.COMPTYPE AND A.PDV = C.PDV AND A.NROCOMP = C.NROCOMP AND A.NROIDENT = C.NROIDENT
WHERE LEN(REPLACE(A.DESPACHO, '  ', '')) = 16 AND A.DESPACHO <> ''
AND ((B.TOTAL=(B.GRAV+B.NOGRAV+B.PERCNOCAT+B.EXENTO+B.PERCIVA+B.PERCNAC+B.PERCIIBB+B.PERCMUN+B.IMPINT+B.CREDFISC+B.OTROSTRIB) 
AND A.COMPTYPE NOT IN('006', '007', '008', '011', '012', '013')) OR A.COMPTYPE IN('006', '007', '008', '011', '012', '013'))
AND DOCDATE < DATEADD(m, 1, @PERIODO + '01') 
AND A.PDV BETWEEN '00001' AND '99999'
AND A.GRAVADO >= A.IMPUESTO 

ORDER BY A.DESPACHO, ALICUOTA


GO

/****** Object:  StoredProcedure [dbo].[NuevoCITI_VA]    Script Date: 01/25/2016 23:34:32 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.NuevoCITI_VA    Script Date: 14/6/2015 12:34:37 PM ******/

CREATE PROCEDURE[dbo].[NuevoCITI_VA] @PERIODO CHAR(6), @REPORTE CHAR(15)
AS

CREATE TABLE #TEMPA
	(
		DOCNUMBR CHAR(21),
		RMDTYPAL SMALLINT,
		CUSTNMBR CHAR(15),
		DOCDATE datetime,
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		NOMBRE	CHAR(30),
		TOTAL	NUMERIC(19, 5),
		GRAV	NUMERIC(19, 5),
		NOGRAV	NUMERIC(19, 5),
		IVA NUMERIC(19, 5),
		EXENTO	NUMERIC(19, 5),
		PERCIVA NUMERIC(19, 5),
		PERCIIBB	NUMERIC(19, 5),
		MONEDA	CHAR(3),
		CAMBIO	NUMERIC(19, 7),
		ALICUOTAS	INT,
		CODOPER	CHAR(1),
		DUEDATE datetime
	)

CREATE TABLE #TEMP
	(
		DOCNUMBR CHAR(21),
		RMDTYPAL SMALLINT,
		CUSTNMBR CHAR(15),
		DOCDATE datetime,
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		NOMBRE	CHAR(30),
		TOTAL	NUMERIC(19, 5),
		GRAV	NUMERIC(19, 5),
		NOGRAV	NUMERIC(19, 5),
		IVA NUMERIC(19, 5),
		EXENTO	NUMERIC(19, 5),
		PERCIVA NUMERIC(19,5),
		PERCIIBB	NUMERIC(19, 5),
		MONEDA	CHAR(3),
		CAMBIO	NUMERIC(19, 7),
		ALICUOTAS	INT,
		CODOPER	CHAR(1),
		DUEDATE datetime
	)

CREATE TABLE #TEMP2
	(
		DOCNUMBR CHAR(21),
		RMDTYPAL SMALLINT,
		CUSTNMBR CHAR(15),
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		GRAVADO	NUMERIC(19, 5),
		ALICUOTA	NUMERIC(19, 5),
		IMPUESTO NUMERIC(19, 5)
	)

INSERT INTO #TEMPA
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, ISNULL(TRX.DOCDATE, CC.DOCDATE) DOCDATE, '0' + ISNULL(ISNULL(AW2.COD_COMP, AW3.COD_COMP), '00') COMTYPE, '0' + ISNULL(SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_PDV, AW4.Pos_PDV), 4), '0000') PDV,
'000000000000' + ISNULL(SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_NRO, AW4.Pos_NRO), 8), '0000') NROCOMP, 
RIGHT(ISNULL(TRX.TXRGNNUM, CM.TXRGNNUM), 2) CODCOC, LEFT(ISNULL(TRX.TXRGNNUM, CM.TXRGNNUM), 11) NROIDENT,
LEFT(RTRIM(ISNULL(TRX.CUSTNAME, CM.CUSTNAME)) + REPLICATE(' ', 30), 30) NOMBRE, ISNULL(TRX.DOCAMNT, CC.ORTRXAMT) DOCAMNT,
CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXSLS ELSE 0 END GRAV,							
CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXSLS ELSE 0 END NOGRAV,						
CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END IVA,							
CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXSLS ELSE 0 END EXENTO,						
CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END PERCIVA,						
CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END PIIBB,						
MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, CASE WHEN A.RMDTYPAL > 6 THEN CC.DOCDATE ELSE CC.DUEDATE END DUEDATE 
FROM RM10601 A
INNER JOIN RM20101 CC ON A.RMDTYPAL = CC.RMDTYPAL AND A.DOCNUMBR = CC.DOCNUMBR
LEFT OUTER JOIN SOP30200 TRX ON A.DOCNUMBR = TRX.SOPNUMBE AND CASE WHEN A.RMDTYPAL = 1 THEN 3 ELSE 4 END = TRX.SOPTYPE
INNER JOIN AWLI_RM00101 AW ON A.CUSTNMBR = AW.CUSTNMBR
LEFT OUTER JOIN AWLI40380 AW2 ON TRX.SOPTYPE = AW2.SOPTYPE AND TRX.DOCID = AW2.DOCID
CROSS JOIN AWLI40300 AW4
LEFT OUTER JOIN AWLI40370 AW3 ON A.RMDTYPAL = AW3.RMDTYPAL AND 2 = AW3.TipoReporte AND SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_Letra, AW4.Pos_Letra), 1) = CASE AW3.LETRA WHEN 1 THEN 'A' WHEN 2 THEN 'B' WHEN 4 THEN 'E' END
INNER JOIN RM00101 CM ON A.CUSTNMBR = CM.CUSTNMBR
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON ISNULL(TRX.CURNCYID, CC.CURNCYID) = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
LEFT OUTER JOIN MC020102 MC1 ON A.DOCNUMBR = MC1.DOCNUMBR AND A.RMDTYPAL = MC1.RMDTYPAL AND A.CUSTNMBR = MC1.CUSTNMBR
WHERE ISNULL(TRX.VOIDSTTS, 0) = 0 AND ISNULL(CC.VOIDSTTS, 0) = 0 and left(CONVERT(char(8), ISNULL(TRX.DOCDATE, CC.DOCDATE), 112), 6) = @PERIODO AND CI.TipoReporte = 2

INSERT INTO #TEMPA
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, ISNULL(TRX.DOCDATE, CC.DOCDATE) DOCDATE, '0' + ISNULL(ISNULL(AW2.COD_COMP, AW3.COD_COMP), '00') COMTYPE, '0' + ISNULL(SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_PDV, AW4.Pos_PDV), 4), '0000') PDV,
'000000000000' + ISNULL(SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_NRO, AW4.Pos_NRO), 8), '0000') NROCOMP, 
RIGHT(ISNULL(TRX.TXRGNNUM, CM.TXRGNNUM), 2) CODCOC, LEFT(ISNULL(TRX.TXRGNNUM, CM.TXRGNNUM), 11) NROIDENT,
LEFT(RTRIM(ISNULL(TRX.CUSTNAME, CM.CUSTNAME)) + REPLICATE(' ', 30), 30) NOMBRE, ISNULL(TRX.DOCAMNT, CC.ORTRXAMT) DOCAMNT,
CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXSLS ELSE 0 END GRAV,							
CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXSLS ELSE 0 END NOGRAV,						
CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END IVA,							
CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXSLS ELSE 0 END EXENTO,						
CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END PERCIVA,						
CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END PIIBB,						
MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, CASE WHEN A.RMDTYPAL > 6 THEN CC.DOCDATE ELSE CC.DUEDATE END DUEDATE 
FROM RM30601 A
INNER JOIN RM30101 CC ON A.RMDTYPAL = CC.RMDTYPAL AND A.DOCNUMBR = CC.DOCNUMBR
LEFT OUTER JOIN SOP30200 TRX ON A.DOCNUMBR = TRX.SOPNUMBE AND CASE WHEN A.RMDTYPAL = 1 THEN 3 ELSE 4 END = TRX.SOPTYPE
INNER JOIN AWLI_RM00101 AW ON A.CUSTNMBR = AW.CUSTNMBR
LEFT OUTER JOIN AWLI40380 AW2 ON TRX.SOPTYPE = AW2.SOPTYPE AND TRX.DOCID = AW2.DOCID
CROSS JOIN AWLI40300 AW4
LEFT OUTER JOIN AWLI40370 AW3 ON A.RMDTYPAL = AW3.RMDTYPAL AND 2 = AW3.TipoReporte AND SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_Letra, AW4.Pos_Letra), 1) = CASE AW3.LETRA WHEN 1 THEN 'A' WHEN 2 THEN 'B' WHEN 4 THEN 'E' END 
INNER JOIN RM00101 CM ON A.CUSTNMBR = CM.CUSTNMBR
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON ISNULL(TRX.CURNCYID, CC.CURNCYID) = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
LEFT OUTER JOIN MC020102 MC1 ON A.DOCNUMBR = MC1.DOCNUMBR AND A.RMDTYPAL = MC1.RMDTYPAL AND A.CUSTNMBR = MC1.CUSTNMBR
WHERE ISNULL(TRX.VOIDSTTS, 0) = 0 AND ISNULL(CC.VOIDSTTS, 0) = 0 and left(CONVERT(char(8), ISNULL(TRX.DOCDATE, CC.DOCDATE), 112), 6) = @PERIODO AND CI.TipoReporte = 2

INSERT INTO #TEMP
SELECT 		DOCNUMBR,
		RMDTYPAL,
		CUSTNMBR,
		DOCDATE,
		COMPTYPE,
		PDV,
		NROCOMP,
		CODDOC,
		NROIDENT,
		NOMBRE,
		TOTAL,
		SUM(GRAV) GRAV,
		SUM(NOGRAV) NOGRAV,
		SUM(IVA) IVA,
		SUM(EXENTO) EXENTO,
		SUM(PERCIVA) PERCIVA,
		SUM(PERCIIBB) PERCIIBB,
		MONEDA,
		CAMBIO,
		ALICUOTAS,
		CODOPER,
		DUEDATE
FROM #TEMPA
GROUP BY 	DOCNUMBR,
		RMDTYPAL,
		CUSTNMBR,
		DOCDATE,
		COMPTYPE,
		PDV,
		NROCOMP,
		CODDOC,
		NROIDENT,
		NOMBRE,
		TOTAL,
		MONEDA,
		CAMBIO,
		ALICUOTAS,
		CODOPER,
		DUEDATE

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, COUNT(A.ALICUOTAS) ALICUOTAS FROM
(SELECT DISTINCT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, B.TXDTLPCT ALICUOTAS FROM RM10601 A INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 2 AND CI.ColumnaArchivo = 2 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.TAXAMNT <> 0) A 
GROUP BY A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR ) TX
ON A.DOCNUMBR = TX.DOCNUMBR AND A.RMDTYPAL = TX.RMDTYPAL AND A.CUSTNMBR = TX.CUSTNMBR

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, COUNT(A.ALICUOTAS) ALICUOTAS FROM
(SELECT DISTINCT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, B.TXDTLPCT ALICUOTAS FROM RM30601 A INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 2 AND CI.ColumnaArchivo = 2 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.TAXAMNT <> 0) A 
GROUP BY A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR ) TX
ON A.DOCNUMBR = TX.DOCNUMBR AND A.RMDTYPAL = TX.RMDTYPAL AND A.CUSTNMBR = TX.CUSTNMBR

INSERT INTO #TEMP2
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, A.COMPTYPE, A.PDV, A.NROCOMP, A.CODDOC, A.NROIDENT,
SUM(B.TDTTXSLS) GRAVADO, TX.TXDTLPCT, SUM(B.TAXAMNT) IMPUESTO
FROM #TEMP A INNER JOIN RM10601 B ON A.DOCNUMBR = B.DOCNUMBR AND A.RMDTYPAL = B.RMDTYPAL AND A.CUSTNMBR = B.CUSTNMBR
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE)	 AND CI.TipoReporte = 2 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND B.TAXAMNT <> 0
GROUP BY A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, A.COMPTYPE, A.PDV, A.NROCOMP, A.CODDOC, A.NROIDENT, TX.TXDTLPCT

INSERT INTO #TEMP2
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, A.COMPTYPE, A.PDV, A.NROCOMP, A.CODDOC, A.NROIDENT,
SUM(B.TDTTXSLS) GRAVADO, TX.TXDTLPCT, SUM(B.TAXAMNT) IMPUESTO
FROM #TEMP A INNER JOIN RM30601 B ON A.DOCNUMBR = B.DOCNUMBR AND A.RMDTYPAL = B.RMDTYPAL AND A.CUSTNMBR = B.CUSTNMBR
INNER JOIN 
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLPCT, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE)	 AND CI.ColumnaArchivo = 2 AND CI.ColumnaArchivo = 2 ) TX ON B.TAXDTLID = TX.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND B.TAXAMNT <> 0
GROUP BY A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, A.COMPTYPE, A.PDV, A.NROCOMP, A.CODDOC, A.NROIDENT, TX.TXDTLPCT

INSERT INTO #TEMP2
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, A.COMPTYPE, A.PDV, A.NROCOMP, A.CODDOC, A.NROIDENT,
0 GRAVADO, 0 TXDTLPCT, 0 IMPUESTO
FROM #TEMP A INNER JOIN RM20101 B ON A.DOCNUMBR = B.DOCNUMBR AND A.RMDTYPAL = B.RMDTYPAL AND A.CUSTNMBR = B.CUSTNMBR
LEFT OUTER JOIN #TEMP2 C ON A.DOCNUMBR = C.DOCNUMBR AND A.RMDTYPAL = C.RMDTYPAL AND A.CUSTNMBR = C.CUSTNMBR
WHERE A.ALICUOTAS = 0 AND (C.DOCNUMBR IS NULL  OR ISNULL(C.IMPUESTO, 0)=0)
 
INSERT INTO #TEMP2
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, A.COMPTYPE, A.PDV, A.NROCOMP, A.CODDOC, A.NROIDENT,
0 GRAVADO, 0 TXDTLPCT, 0 IMPUESTO
FROM #TEMP A INNER JOIN RM30101 B ON A.DOCNUMBR = B.DOCNUMBR AND A.RMDTYPAL = B.RMDTYPAL AND A.CUSTNMBR = B.CUSTNMBR
LEFT OUTER JOIN #TEMP2 C ON A.DOCNUMBR = C.DOCNUMBR AND A.RMDTYPAL = C.RMDTYPAL AND A.CUSTNMBR = C.CUSTNMBR
WHERE A.ALICUOTAS = 0 AND (C.DOCNUMBR IS NULL  OR ISNULL(C.IMPUESTO, 0)=0)
 
SELECT 
RTRIM(COMPTYPE)		+ -- TIPO DE COMPROBANTE
RTRIM(PDV)			+ -- PUNTO DE VENTA
RTRIM(NROCOMP)		+ -- NRO COMPROBANTE
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, GRAVADO), LEN(CONVERT(VARCHAR, GRAVADO))-3), '.', ''), 15)    + -- GRAV
CASE ALICUOTA WHEN 10.5 THEN '0004' WHEN 21 THEN '0005' WHEN 27 THEN '0006' WHEN 5 THEN '0008' wHEN 2.5 THEN '0009' ELSE '0003' END		+ -- ALICUOTA
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, IMPUESTO), LEN(CONVERT(VARCHAR, IMPUESTO))-3), '.', ''), 15)   TEXTO -- IMPUESTO
FROM #TEMP2 WHERE dbo.fncESNUMERICO(PDV) = 1 AND PDV <> '00000'
ORDER BY PDV, COMPTYPE, NROCOMP


GO

/****** Object:  StoredProcedure [dbo].[NuevoCITI_VC]    Script Date: 01/25/2016 23:34:32 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO


/****** Object:  Stored Procedure dbo.NuevoCITI_VC    Script Date: 14/6/2015 12:34:37 PM ******/

CREATE PROCEDURE[dbo].[NuevoCITI_VC] @PERIODO CHAR(6), @REPORTE CHAR(15)
AS

CREATE TABLE #TEMPA
	(
		DOCNUMBR CHAR(21),
		RMDTYPAL SMALLINT,
		CUSTNMBR CHAR(15),
		DOCDATE datetime,
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		NOMBRE	CHAR(30),
		TOTAL	NUMERIC(19, 5),
		GRAV	NUMERIC(19, 5),
		NOGRAV	NUMERIC(19, 5),
		IVA NUMERIC(19, 5),
		EXENTO	NUMERIC(19, 5),
		PERCIVA NUMERIC(19, 5),
		PERCIIBB	NUMERIC(19, 5),
		MONEDA	CHAR(3),
		CAMBIO	NUMERIC(19, 7),
		ALICUOTAS	INT,
		CODOPER	CHAR(1),
		DUEDATE datetime
	)

CREATE TABLE #TEMP
	(
		DOCNUMBR CHAR(21),
		RMDTYPAL SMALLINT,
		CUSTNMBR CHAR(15),
		DOCDATE datetime,
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		NOMBRE	CHAR(30),
		TOTAL	NUMERIC(19, 5),
		GRAV	NUMERIC(19, 5),
		NOGRAV	NUMERIC(19, 5),
		IVA NUMERIC(19, 5),
		EXENTO	NUMERIC(19, 5),
		PERCIVA NUMERIC(19, 5),
		PERCIIBB	NUMERIC(19, 5),
		MONEDA	CHAR(3),
		CAMBIO	NUMERIC(19, 7),
		ALICUOTAS	INT,
		CODOPER	CHAR(1),
		DUEDATE datetime
	)

CREATE TABLE #TEMP2
	(
		DOCNUMBR CHAR(21),
		RMDTYPAL SMALLINT,
		CUSTNMBR CHAR(15),
		COMPTYPE CHAR(3),
		PDV CHAR(5),
		NROCOMP CHAR(20),
		CODDOC CHAR(2),
		NROIDENT	CHAR(20),
		GRAVADO	NUMERIC(19, 5),
		ALICUOTA	NUMERIC(19, 5),
		IMPUESTO NUMERIC(19, 5)
	)

INSERT INTO #TEMPA
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, ISNULL(TRX.DOCDATE, CC.DOCDATE) DOCDATE, '0' + ISNULL(ISNULL(AW2.COD_COMP, AW3.COD_COMP), '00') COMTYPE, '0' + ISNULL(SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_PDV, AW4.Pos_PDV), 4), '0000') PDV,
'000000000000' + ISNULL(SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_NRO, AW4.Pos_NRO), 8), '0000') NROCOMP, 
RIGHT(ISNULL(TRX.TXRGNNUM, CM.TXRGNNUM), 2) CODCOC, LEFT(ISNULL(TRX.TXRGNNUM, CM.TXRGNNUM), 11) NROIDENT,
LEFT(RTRIM(ISNULL(TRX.CUSTNAME, CM.CUSTNAME)) + REPLICATE(' ', 30), 30) NOMBRE, ISNULL(TRX.DOCAMNT, CC.ORTRXAMT) DOCAMNT,
CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXSLS ELSE 0 END GRAV,							
CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXSLS ELSE 0 END NOGRAV,						
CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END IVA,							
CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXSLS ELSE 0 END EXENTO,						
CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END PERCIVA,						
CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END PIIBB,						
MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, CASE WHEN A.RMDTYPAL > 6 THEN CC.DOCDATE ELSE CC.DUEDATE END DUEDATE 
FROM RM10601 A
INNER JOIN RM20101 CC ON A.RMDTYPAL = CC.RMDTYPAL AND A.DOCNUMBR = CC.DOCNUMBR
LEFT OUTER JOIN SOP30200 TRX ON A.DOCNUMBR = TRX.SOPNUMBE AND CASE WHEN A.RMDTYPAL = 1 THEN 3 ELSE 4 END = TRX.SOPTYPE
INNER JOIN AWLI_RM00101 AW ON A.CUSTNMBR = AW.CUSTNMBR
LEFT OUTER JOIN AWLI40380 AW2 ON TRX.SOPTYPE = AW2.SOPTYPE AND TRX.DOCID = AW2.DOCID
CROSS JOIN AWLI40300 AW4
LEFT OUTER JOIN AWLI40370 AW3 ON A.RMDTYPAL = AW3.RMDTYPAL AND 2 = AW3.TipoReporte AND SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_Letra, AW4.Pos_Letra), 1) = CASE AW3.LETRA WHEN 1 THEN 'A' WHEN 2 THEN 'B' WHEN 4 THEN 'E' END
INNER JOIN RM00101 CM ON A.CUSTNMBR = CM.CUSTNMBR
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON ISNULL(TRX.CURNCYID, CC.CURNCYID) = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
LEFT OUTER JOIN MC020102 MC1 ON A.DOCNUMBR = MC1.DOCNUMBR AND A.RMDTYPAL = MC1.RMDTYPAL AND A.CUSTNMBR = MC1.CUSTNMBR
WHERE ISNULL(TRX.VOIDSTTS, 0) = 0 AND ISNULL(CC.VOIDSTTS, 0) = 0 and left(CONVERT(char(8), ISNULL(TRX.DOCDATE, CC.DOCDATE), 112), 6) = @PERIODO AND CI.TipoReporte = 2

INSERT INTO #TEMPA
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, ISNULL(TRX.DOCDATE, CC.DOCDATE) DOCDATE, '0' + ISNULL(ISNULL(AW2.COD_COMP, AW3.COD_COMP), '00') COMTYPE, '0' + ISNULL(SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_PDV, AW4.Pos_PDV), 4), '0000') PDV,
'000000000000' + ISNULL(SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_NRO, AW4.Pos_NRO), 8), '0000') NROCOMP, 
RIGHT(ISNULL(TRX.TXRGNNUM, CM.TXRGNNUM), 2) CODCOC, LEFT(ISNULL(TRX.TXRGNNUM, CM.TXRGNNUM), 11) NROIDENT,
LEFT(RTRIM(ISNULL(TRX.CUSTNAME, CM.CUSTNAME)) + REPLICATE(' ', 30), 30) NOMBRE, ISNULL(TRX.DOCAMNT, CC.ORTRXAMT) DOCAMNT,
CASE WHEN CI.ColumnaArchivo = 1 THEN TDTTXSLS ELSE 0 END GRAV,							
CASE WHEN CI.ColumnaArchivo = 4 THEN TDTTXSLS ELSE 0 END NOGRAV,						
CASE WHEN CI.ColumnaArchivo = 2 THEN A.TAXAMNT ELSE 0 END IVA,							
CASE WHEN CI.ColumnaArchivo = 3 THEN TDTTXSLS ELSE 0 END EXENTO,						
CASE WHEN CI.ColumnaArchivo = 6 THEN A.TAXAMNT ELSE 0 END PERCIVA,						
CASE WHEN CI.ColumnaArchivo = 8 THEN A.TAXAMNT ELSE 0 END PIIBB,						
MC.CURR_CODE MONEDA, ISNULL(MC1.XCHGRATE, 1) TCAMBIO, 0 ALICUOTAS, CONVERT(VARCHAR, ISNULL(AW.OP_ORIGIN, 0)) CODOPER, CASE WHEN A.RMDTYPAL > 6 THEN CC.DOCDATE ELSE CC.DUEDATE END DUEDATE 
FROM RM30601 A
INNER JOIN RM30101 CC ON A.RMDTYPAL = CC.RMDTYPAL AND A.DOCNUMBR = CC.DOCNUMBR
LEFT OUTER JOIN SOP30200 TRX ON A.DOCNUMBR = TRX.SOPNUMBE AND CASE WHEN A.RMDTYPAL = 1 THEN 3 ELSE 4 END = TRX.SOPTYPE
INNER JOIN AWLI_RM00101 AW ON A.CUSTNMBR = AW.CUSTNMBR
LEFT OUTER JOIN AWLI40380 AW2 ON TRX.SOPTYPE = AW2.SOPTYPE AND TRX.DOCID = AW2.DOCID
CROSS JOIN AWLI40300 AW4
LEFT OUTER JOIN AWLI40370 AW3 ON A.RMDTYPAL = AW3.RMDTYPAL AND 2 = AW3.TipoReporte AND SUBSTRING(A.DOCNUMBR, ISNULL(AW2.Pos_Letra, AW4.Pos_Letra), 1) = CASE AW3.LETRA WHEN 1 THEN 'A' WHEN 2 THEN 'B' WHEN 4 THEN 'E' END 
INNER JOIN RM00101 CM ON A.CUSTNMBR = CM.CUSTNMBR
INNER JOIN DYNAMICS..AWLI_MC40200 MC ON ISNULL(TRX.CURNCYID, CC.CURNCYID) = MC.CURNCYID
INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where rptid IN(@REPORTE)	 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN tblColumnasIVA CI ON TX.RPTID = CI.RPTID AND TX.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
LEFT OUTER JOIN MC020102 MC1 ON A.DOCNUMBR = MC1.DOCNUMBR AND A.RMDTYPAL = MC1.RMDTYPAL AND A.CUSTNMBR = MC1.CUSTNMBR
WHERE ISNULL(TRX.VOIDSTTS, 0) = 0 AND ISNULL(CC.VOIDSTTS, 0) = 0 and left(CONVERT(char(8), ISNULL(TRX.DOCDATE, CC.DOCDATE), 112), 6) = @PERIODO AND CI.TipoReporte = 2

INSERT INTO #TEMP
SELECT 		DOCNUMBR,
		RMDTYPAL,
		CUSTNMBR,
		DOCDATE,
		COMPTYPE,
		PDV,
		NROCOMP,
		CODDOC,
		NROIDENT,
		NOMBRE,
		TOTAL,
		SUM(GRAV) GRAV,
		SUM(NOGRAV) NOGRAV,
		SUM(IVA) IVA,
		SUM(EXENTO) EXENTO,
		SUM(PERCIVA) PERCIVA,
		SUM(PERCIIBB) PERCIIBB,
		MONEDA,
		CAMBIO,
		ALICUOTAS,
		CODOPER,
		DUEDATE
FROM #TEMPA
GROUP BY 	DOCNUMBR,
		RMDTYPAL,
		CUSTNMBR,
		DOCDATE,
		COMPTYPE,
		PDV,
		NROCOMP,
		CODDOC,
		NROIDENT,
		NOMBRE,
		TOTAL,
		MONEDA,
		CAMBIO,
		ALICUOTAS,
		CODOPER,
		DUEDATE

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, COUNT(A.ALICUOTAS) ALICUOTAS FROM
(SELECT DISTINCT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, B.TXDTLPCT ALICUOTAS FROM RM10601 A INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 2 AND CI.ColumnaArchivo = 2 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.TAXAMNT <> 0) A 
GROUP BY A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR ) TX
ON A.DOCNUMBR = TX.DOCNUMBR AND A.RMDTYPAL = TX.RMDTYPAL AND A.CUSTNMBR = TX.CUSTNMBR

UPDATE #TEMP
SET ALICUOTAS = TX.ALICUOTAS
FROM #TEMP A
INNER JOIN (
SELECT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, COUNT(A.ALICUOTAS) ALICUOTAS FROM
(SELECT DISTINCT A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR, B.TXDTLPCT ALICUOTAS FROM RM30601 A INNER JOIN
(SELECT A.RPTID, A.DSCRIPTN, A.NRORDCOL, A.IDTAXOP, B.TAXDTLID, C.TXDTLDSC, CI.ColumnaArchivo FROM AWLI40004 A INNER JOIN AWLI40102 B ON A.IDTAXOP = B.IDTAXOP
INNER JOIN tblColumnasIVA CI ON A.RPTID = CI.RPTID AND A.NRORDCOL = CI.NRORDCOL
INNER JOIN TX00201 C ON B.TAXDTLID = C.TAXDTLID
where A.rptid IN(@REPORTE) AND CI.TipoReporte = 2 AND CI.ColumnaArchivo = 2 ) TX ON A.TAXDTLID = TX.TAXDTLID
INNER JOIN TX00201 B ON TX.TAXDTLID = B.TAXDTLID
WHERE TX.ColumnaArchivo = 2 AND A.TAXAMNT <> 0) A 
GROUP BY A.DOCNUMBR, A.RMDTYPAL, A.CUSTNMBR ) TX
ON A.DOCNUMBR = TX.DOCNUMBR AND A.RMDTYPAL = TX.RMDTYPAL AND A.CUSTNMBR = TX.CUSTNMBR

SELECT 
CONVERT(CHAR(8), DOCDATE, 112)	+	-- FECHA (AAAAMMDD)
RTRIM(COMPTYPE)		+				-- TIPO COMPROBANTE
RTRIM(PDV)			+				--	PUNTO DE VENTA
RTRIM(NROCOMP)		+				-- NUMERO DE COMPROBANTE
RTRIM(NROCOMP)		+				-- NUMERO DE COMPROBANTE HASTA
RTRIM(CODDOC)		+				-- CODIGO DOCUMENTO DEL COMPRADOR
'000000000' + RTRIM(NROIDENT)		+				-- NRO IDENTIFICACION DEL COMPRADOR
LEFT(RTRIM(NOMBRE) + REPLICATE(' ', 30), 30) +		--NOMBRE DEL COMPRADOR
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, TOTAL), LEN(CONVERT(VARCHAR, TOTAL))-3), '.', ''), 15)  + -- TOTAL
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, NOGRAV), LEN(CONVERT(VARCHAR, NOGRAV))-3), '.', ''), 15) + -- NOGRAV
'000000000000000'	+	-- PERCEPCION NO CATEGORIZADOS
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, EXENTO), LEN(CONVERT(VARCHAR, EXENTO))-3), '.', ''), 15)  + -- EXENTO
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, PERCIVA), LEN(CONVERT(VARCHAR, PERCIVA))-3), '.', ''), 15)	+	-- PERCEPCION IMP NACIONALES
RIGHT(REPLACE('000000000000000' + LEFT(CONVERT(VARCHAR, PERCIIBB), LEN(CONVERT(VARCHAR, PERCIIBB))-3), '.', ''), 15)  + -- PERCIIBB
'000000000000000'	+	-- PERCEPCION IMP MUNICIPALES
'000000000000000'	+	-- PERCEPCION IMP INTERNOS
RTRIM(MONEDA)		+	-- CODIGO DE MONEDA
RIGHT(REPLACE('0000000000' + LEFT(CONVERT(VARCHAR, CAMBIO), LEN(CONVERT(VARCHAR, CAMBIO))-1), '.', ''), 10)   + -- TIPO CAMBIO
CONVERT(VARCHAR, CASE WHEN ALICUOTAS = 0 THEN 1 ELSE ALICUOTAS END)	+		-- CANTIDAD ALICUOTAS IVA
CASE WHEN CODOPER = 1 THEN 
	CASE WHEN EXENTO <> 0 THEN 'E' ELSE CASE WHEN ALICUOTAS = 0 THEN 'N' ELSE '0' END END
ELSE 
	CASE CODOPER WHEN 2 THEN 'Z' WHEN 3 THEN 'X' ELSE '0' END	
END 		+		-- CODIGO OPERACION
'000000000000000'			+		-- OTROS TRIBUTOS
CASE WHEN COMPTYPE > '008' THEN '00000000' ELSE CONVERT(CHAR(8), DUEDATE, 112)	END	TEXTO
 FROM #TEMP WHERE dbo.fncESNUMERICO(PDV) = 1 AND PDV <> '00000'
ORDER BY DOCDATE, PDV, COMPTYPE, NROCOMP


GO


GRANT EXECUTE ON [NuevoCITI_CA] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_CC] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_CE] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_CI] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_VA] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_VC] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [fncESNUMERICO] TO [DYNGRP] AS [dbo]
GO
