/****** Object:  UserDefinedFunction [dbo].[fncESNUMERICO]    Script Date: 08/13/2015 18:14:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fncESNUMERICO]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [fncESNUMERICO]
GO

/****** Object:  UserDefinedFunction [dbo].[fncESNUMERICO]    Script Date: 08/13/2015 18:15:28 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/****** Object:  User Defined Function dbo.fncESNUMERICO    Script Date: 14/6/2015 12:35:09 PM ******/
CREATE FUNCTION [dbo].[fncESNUMERICO] (	@DATO								VARCHAR(30)			
)
RETURNS TINYINT
AS
BEGIN
	DECLARE @INDICE tinyint
	DECLARE @RESULTADO TINYINT 

	SELECT @RESULTADO = 1

	SELECT @INDICE = 1
	WHILE @INDICE <= LEN(RTRIM(@DATO))
	BEGIN
		IF SUBSTRING(RTRIM(@DATO), @INDICE, 1) NOT BETWEEN '0' AND '9'
		BEGIN
			SELECT @INDICE = LEN(RTRIM(@DATO)) + 1
			SELECT @RESULTADO = 0
		END
		ELSE
		BEGIN
			SELECT @INDICE = @INDICE + 1
		END
	END
	RETURN ( @RESULTADO )
END
GO


GRANT EXECUTE ON [NuevoCITI_CA] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_CC] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_CE] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_CI] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_VA] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [NuevoCITI_VC] TO [DYNGRP] AS [dbo]
GO
GRANT EXECUTE ON [fncESNUMERICO] TO [DYNGRP] AS [dbo]
GO
